<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
<f:layout name="DocumentBE"/>

<f:section name="main">

    <f:flashMessages renderMode="div"/>

    <f:comment>
        <f:debug title="Form" maxDepth="20">
            {document}
        </f:debug>
    </f:comment>

    <h2>
        <f:translate key="documentForm.edit.header" arguments="{foo: '{document.documentType.displayName}'}"/>
    </h2>

    <h3 class="documentform">{f:translate(key: 'documentForm.processNumber')}: {document.processNumber}</h3>

    <f:form action="update" name="document" object="{document}" enctype="multipart/form-data"
            additionalAttributes="{data-disabled: '{document.saveDisabled}'}">
        <f:form.hidden property="documentType" value="{document.documentType}"/>
        <f:form.hidden id="validDocument" property="valid" value="0"/>
        <f:render partial="Document/FormBodyNew" arguments="{document:document,files:files}"/>
    </f:form>
    <f:form action="cancel" name="cancelData" object="{}" enctype="multipart/form-data" id="form_cancel">
        <f:form.button name="cancel" id="cancel" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            {f:translate(key: 'form_button.cancel')}
        </f:form.button>
    </f:form>

    <f:form action="delete" name="document" object="{document}" enctype="multipart/form-data" id="form_delete">
        <f:form.hidden property="uid" value="{document.uid}"/>

        <f:form.button name="delete" id="save" class="btn btn-sm btn-danger"
                       disabled="{f:if(condition: '{document.deleteDisabled}', then: 'disabled')}">
            <span class="glyphicon glyphicon-trash"></span>
            {f:translate(key: 'form_button.delete')} "{document.documentType.displayName}"
        </f:form.button>
    </f:form>

    <f:link.action action="discard" controller="DocumentManager" arguments="{document : document}"
                   class="btn btn-sm btn-warning btn-edit-discard"
                   additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDiscard'}">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        {f:translate(key: 'manager.discard')}
    </f:link.action>

    <div class="modal fade" id="confirmDiscard" tabindex="-1" aria-hidden="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="{f:translate(key: 'manager.discardConfirmNo')}"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{f:translate(key: 'manager.discardConfirmMessageHeader')}</h4>
                </div>
                <div class="modal-body">
                    <p>{f:translate(key: 'manager.discardConfirmMessage', arguments: {0: '%s'})}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{f:translate(key:
                        'manager.discardConfirmNo')}
                    </button>
                    <a id="discardDocument" class="btn btn-danger" href="#">{f:translate(key:
                        'manager.discardConfirmYes')}</a>
                </div>
            </div>
        </div>
    </div>

</f:section>
