<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace eww=EWW\Dpf\ViewHelpers}

<fieldset class="fs_group" data-group="{formGroupUid}" data-mandatory="{groupItem.mandatory}">
    <legend>
        <f:if condition="{groupIndex}">+{groupIndex}:</f:if>
        {formGroupDisplayName}
        <f:if condition="{groupIndex}">
            <button type="submit" name="rem_group" class="btn btn-outline-secondary rem_group" data-group="{formGroupUid}">
                <i class="fas fa-times"></i><span class="sr-only">{f:translate(key: 'form_button.delete_item', arguments: {0: formGroupDisplayName})}</span>
            </button>
        </f:if>
    </legend>
    <div class="group-info-text">
        <f:format.raw>{groupItem.infoText}</f:format.raw>
    </div>


    <f:if condition="{groupItem.groupType} == 'person'">
        <f:then>
            <div class="user-search-div">
                <f:if condition="{fisPersId}">
                    <f:then>
                        <button type="button" class="btn btn-s btn-info addMyData" id="addMyData" data-personid="{fisPersId}"
                                data-group="{formGroupUid}" data-page="{formPageUid}" data-groupindex="{groupIndex}"
                                data-ajax="{f:uri.action(action:'getFisUserData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
                            Das bin ich
                        </button>
                    </f:then>
                    <f:else>
                        <button type="button" class="btn btn-s btn-info addMyData" id="" data-group="{formGroupUid}" disabled>Das bin ich</button>
                    </f:else>
                </f:if>
                <button type="button" class="btn btn-s btn-info" data-toggle="modal" data-target="#userSearchModal-{groupIndex}">Person suchen</button>

                <button type="button" class="btn btn-s btn-info" data-toggle="modal" data-target="#gndSearchModal-{groupIndex}"
                        data-buttonajax="{f:uri.action(action:'getGndPersonData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
                    GND Suche
                </button>

                <button type="button" class="btn btn-s btn-info" data-toggle="modal" data-target="#rorSearchModal-{groupIndex}"
                        data-buttonajax="{f:uri.action(action:'getGndPersonData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
                    ROR Suche
                </button>

            </div>

            <f:render partial="Api/FisModal" arguments="{_all}"/>

            <f:comment> MODAL SEARCH GND USER </f:comment>
            <div class="modal fade" id="gndSearchModal-{groupIndex}" tabindex="-1" role="dialog" aria-labelledby="userSearchModal-{groupIndex}" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 50%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="gndSearchModalTitle-{groupIndex}">GND Suche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input style="margin-bottom: 1rem;" class="gnd-user-search-input" type="text" data-group="{formGroupUid}"
                                   data-page="{formPageUid}" data-groupindex="{groupIndex}"
                                   data-ajax="{f:uri.action(action:'searchGndData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}"
                                   data-buttonajax="{f:uri.action(action:'getGndData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}" autofocus>
                            <div class="user-search-list-{groupIndex}">
                                <ul style="list-style-type: none;padding:0;">
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <f:comment> MODAL SEARCH ROR </f:comment>
            <div class="modal fade" id="rorSearchModal-{groupIndex}" tabindex="-1" role="dialog" aria-labelledby="userSearchModal-{groupIndex}" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 50%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="rorSearchModalTitle-{groupIndex}">ROR Suche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input style="margin-bottom: 1rem;" class="ror-user-search-input" type="text" data-group="{formGroupUid}"
                                   data-page="{formPageUid}" data-groupindex="{groupIndex}"
                                   data-ajax="{f:uri.action(action:'searchRorData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}"
                                   data-buttonajax="{f:uri.action(action:'getRorData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}" autofocus>
                            <div class="user-search-list-{groupIndex}">
                                <ul style="list-style-type: none;padding:0;">
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </f:then>
    </f:if>

    <f:if condition="{groupItem.groupType} == 'title'">
        <f:then>
            <div class="user-search-div">
                <button type="button" class="btn btn-s btn-info" data-toggle="modal" data-target="#zdbSearchModal-{groupIndex}"
                        data-buttonajax="{f:uri.action(action:'getZdbData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
                    ZDB Suche
                </button>
            </div>

            <div class="modal fade" id="zdbSearchModal-{groupIndex}" tabindex="-1" role="dialog" aria-labelledby="userSearchModal-{groupIndex}" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 50%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="zdbSearchModalTitle-{groupIndex}">ZDB Suche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input style="margin-bottom: 1rem;" class="zdb-user-search-input" type="text" data-group="{formGroupUid}"
                                   data-page="{formPageUid}" data-groupindex="{groupIndex}"
                                   data-ajax="{f:uri.action(action:'searchZdbData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}"
                                   data-buttonajax="{f:uri.action(action:'getZdbData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
                            <div class="user-search-list-{groupIndex}">
                                <ul style="list-style-type: none;padding:0;">
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </f:then>
    </f:if>

    <f:if condition="{groupItem.groupType} == 'unpaywall'">
        <f:then>
            <div class="user-search-div">
                <button type="button" class="btn btn-s btn-info" data-toggle="modal" data-target="#unpaywallSearchModal-{groupIndex}"
                        data-buttonajax="{f:uri.action(action:'getZdbData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
                    Unpaywall Suche
                </button>
            </div>

            <div class="modal fade" id="unpaywallSearchModal-{groupIndex}" tabindex="-1" role="dialog" aria-labelledby="unpaywallSearchModal-{groupIndex}" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 50%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="unpaywallSearchModalTitle-{groupIndex}">Unpaywall Suche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input style="margin-bottom: 1rem;" class="unpaywall-user-search-input" type="text" data-group="{formGroupUid}"
                                   data-page="{formPageUid}" data-groupindex="{groupIndex}"
                                   data-ajax="{f:uri.action(action:'searchUnpaywallData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}"
                                   data-buttonajax="{f:uri.action(action:'getUnpaywallData',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
                            <div class="user-search-list-{groupIndex}">
                                <ul style="list-style-type: none;padding:0;">
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </f:then>
    </f:if>


    <f:for each="{groupItem.items}" as="formField" iteration="fieldIterator">
        <f:for each="{formField}" as="fieldItem" iteration="fieldItemIterator">
            <f:if condition="{fieldItem.inputField}!=4">
                <f:then>
                    <div class="form-container {f:if(condition: '{fieldItem.dataType} == \'DATE\'', then: 'hasDatepicker', else: '')}">
                        <f:if condition="{eww:IsElementAllowed(condition:'{fieldItem.accessRestrictionRoles}')}">
                            <f:then>
                                <f:render partial="DocumentForm/Field"
                                          arguments="{formPageUid: formPageUid,formGroupUid: formGroupUid,groupIndex: groupIndex,formField: formField,fieldIndex: fieldItemIterator.index,fieldItem: fieldItem,countries: countries}"/>
                                <f:if condition="{fieldItem.maxIteration} == 0">
                                    <f:if condition="{fieldItemIterator.isLast}">
                                        <button type="submit"
                                                title="{f:translate(key: 'form_button.add_item', arguments: {0: fieldItem.displayName})}"
                                                name="add_field" class="btn btn-secondary add_field" data-field="{fieldItem.uid}"
                                                data-ajax="{f:uri.action(action:'field',controller:'AjaxDocumentForm',pageType:ajaxTypeNum,arguments:{pageUid: formPageUid,groupUid: formGroupUid,groupIndex: groupIndex,fieldUid: fieldItem.uid})}"
                                                data-index="{fieldItemIterator.index}">
                                            <i class="fas fa-plus"></i>
                                            <span class="sr-only">{f:translate(key: 'form_button.add_item', arguments: {0: fieldItem.displayName})}</span>
                                        </button>
                                    </f:if>
                                </f:if>
                            </f:then>
                        </f:if>
                    </div>
                </f:then>
                <f:else>
                    <f:form.hidden id="inp_{fieldItem.uid}"
                                   property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldItemIterator.index}"
                                   value="{fieldItem.value}" class="input-field form-control {fieldItem.fillOutService}"
                                   additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}"/>
                </f:else>
            </f:if>
        </f:for>
    </f:for>
</fieldset>
