<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
    <f:link.action action="search" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <f:translate key="search.control.simpleSearch"/>
    </f:link.action>

    <span class="btn btn-default btn-sm active" aria-pressed="true">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <f:translate key="search.control.extendedSearch"/>
    </span>
    <div class="searchExtForm">
        <f:form action="extendedSearch" name="query" class="form-inline">
            <h5>{f:translate(key: 'search.form.header.extendedSearch')}</h5>
            <div class="form-group">
                <label for="title">{f:translate(key: 'search.form.label.title')}</label>
                <f:form.textfield property="title" class="form-control"
                    placeholder="{f:translate(key: 'search.form.label.title')}" id="title"
                    value="{query.title}"/>
            </div>
            <div class="form-group">
                <label for="author">{f:translate(key: 'search.form.label.author')}</label>
                <f:form.textfield property="author" class="form-control"
                    placeholder="{f:translate(key: 'search.form.label.author')}" id="author"
                    value="{query.author}"/>
            </div>
            <div class="form-group">
                <label for="abstract">{f:translate(key: 'search.form.label.abstract')}</label>
                <f:form.textfield property="abstract" class="form-control"
                    placeholder="{f:translate(key: 'search.form.label.abstract')}" id="abstract"
                    value="{query.abstract}"/>
			</div>
			<div class="form-group">
				<label for="tag">{f:translate(key: 'search.form.label.tag')}</label>
				<f:form.textfield property="tag" class="form-control"
					placeholder="{f:translate(key: 'search.form.label.tag')}" id="tag"
					value="{query.tag}"/>
			</div>
			<div class="form-group">
				<label for="doctype">{f:translate(key: 'search.form.label.type')}</label>
				<f:form.select property="doctype" options="{docTypes}" id="doctype" value="{query.doctype}" optionValueField="name" optionLabelField="displayName"/>
			</div>
			<div class="form-group">
				<label for="corporation">{f:translate(key: 'search.form.label.institution')}</label>
				<f:form.textfield property="corporation" class="form-control"
					placeholder="{f:translate(key: 'search.form.label.institution')}" id="corporation"
					value="{query.corporation}"/>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6" style="padding:0px;">
						<div class="form-group">
							<label for="from">{f:translate(key: 'search.form.label.date')}</label>
							<f:form.textfield property="from" type="text" class="form-control datetimepicker"
								placeholder="{f:translate(key: 'search.form.label.from')}" id="from"
								value="{query.from}"/>
							<label for="till">{f:translate(key: 'search.form.label.to')}</label>
							<f:form.textfield property="till" type="text" class="form-control datetimepicker"
								placeholder="{f:translate(key: 'search.form.label.to')}" id="till"
								value="{query.till}"/>
						</div>
					</div>
				</div>
			</div>
			<f:form.button class="btn btn-default" type="submit">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				{f:translate(key: 'search.form.button.search')}
			</f:form.button>
        </f:form>
    </div>
	<f:if condition="{query}">
    <div class="search-results">
        <f:if condition="{resultList.total} > 1">
            <f:then>
                <span>{resultList.total} <f:translate key="search.resultList.documentsFound"/></span>
            </f:then>
            <f:else>
                <f:if condition="{resultList.total} == 1">
                    <f:then>
                        <span>{resultList.total} <f:translate key="search.resultList.documentsFound"/></span>
                    </f:then>
                    <f:else>
                        <span><f:translate key="search.resultList.nothingFound"/></span>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
        <dpf:widget.paginate objects="{resultList.hits}" total="{resultList.total}" as="paginatedResults" currentPage="{currentPage}"
                             configuration="{settings.list.paginate}">

            <f:render partial="SearchFE/ResultList" arguments="{results: paginatedResults, currentPage: currentPage}"/>

        </dpf:widget.paginate>
    </div>
	</f:if>
</f:section>
