{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <div class="searchForm">

        <f:form action="search" name="search" pageUid="{settings.searchResultsPid}" class="form-inline qucosa-search-form" noCache="1" noCacheHash="1">
            <div class="form-group fe-form-group">
                <f:form.textfield property="query" class="form-control" placeholder="{f:translate(key: 'search.form.label.query')}" id="query" value="{search}"/>
            </div>
            <f:form.button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                {f:translate(key: 'search.form.button.search')}
            </f:form.button>
        </f:form>

    </div>

	<f:render partial="SearchFE/ResultList" arguments="{searchList: searchList, alreadyImported: alreadyImported, itemLinkMarker: itemLinkMarker}"/>

	<div class="text-center">
		<f:link.action id="next-results" controller="SearchFE" action="nextResults">{f:translate(key: 'search.resultList.more')}</f:link.action>
	</div>

</f:section>
