<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <div class="searchForm">

        <f:form action="search" name="search" pageUid="{settings.searchResultsPid}"
                class="form-inline qucosa-search-form" noCache="1" noCacheHash="1">
            <div class="form-group fe-form-group">
                <f:form.textfield property="query" class="form-control"
                                  placeholder="{f:translate(key: 'search.form.label.query')}" id="query"
                                  value="{searchString}"/>
            </div>
            <f:form.button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                {f:translate(key: 'search.form.button.search')}
            </f:form.button>
        </f:form>
    </div>

    <div class="search-results">

        <f:if condition="{results.total} > 1">
            <f:then>
                <span>{results.total} <f:translate key="search.resultList.documentsFound"/></span>
            </f:then>
            <f:else>
                <f:if condition="{results.total} == 1">
                    <f:then>
                        <span>{results.total} <f:translate key="search.resultList.documentsFound"/></span>
                    </f:then>
                    <f:else>
                        <span><f:translate key="search.resultList.nothingFound"/></span>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>

        <dpf:widget.paginate objects="{results.hits}" total="{results.total}" as="paginatedResults"
                             configuration="{settings.list.paginate}">

            <f:render partial="SearchFE/ResultList" arguments="{results: paginatedResults, currentPage: currentPage}"/>

        </dpf:widget.paginate>

    </div>

</f:section>
