<f:layout name="Default">
</f:layout>
<f:section name="main">
    <div class="searchbox">
        <f:form action="search" id="smallsearch" name="search" nocache="1" nocachehash="1" pageuid="{settings.searchResultsPid}">
            <f:form.textfield id="tx-dlf-search-query" placeholder="{f:translate(key: 'search.form.label.query')}" property="query" value="{search}">
            </f:form.textfield>
            <f:form.button class="" id="submit" type="submit">
                {f:translate(key: 'search.form.button.search')}
            </f:form.button>
        </f:form>
    </div>
</f:section>
