parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - Classes
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#Variable .+ might not be defined#'
