<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="Tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <file>Tests/Unit/Services/FilenameGeneratorTest.php</file>
            <file>Tests/Unit/Controller/GetFileControllerTest.php</file>
            <file>Tests/Unit/Helper/ModsTest.php</file>
            <file>Tests/Unit/Helper/XxeProtectionTest.php</file>
            <file>Tests/Unit/Services/Transfer/DocumentTransferManagerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
