<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

<div class="workspace-batch-operations">

    <button class="btn btn-sm btn-light workspace-select-toggle workspace-select-all" style="display:none;"
            title="{f:translate(key: 'manger.workspace.batch.selectToggleAll', default: 'Auswahl aufheben')}" data-toggle="tooltip">
        <i class="far fa-check-square dpf-fa-check-color"></i>
    </button>
    <button class="btn btn-sm btn-light workspace-select-toggle workspace-unselect-all" style="display:none;"
            title="{f:translate(key: 'manger.workspace.batch.selectToggleAll', default: 'Alle auswählen')}" data-toggle="tooltip">
        <i class="far fa-square dpf-fa-check-color"></i>
    </button>

    <a href="#" id="batchButtonBatchBookmark" class="btn btn-sm btn-secondary disabled">
        <f:switch expression="{dpf:security.kitodoRole()}">
            <f:case value="ROLE_LIBRARIAN">
                {f:translate(key: 'manager.search.batch.buttonBookmark', default: 'In "Arbeitsbereich" übernehmen')}
            </f:case>
            <f:case value="ROLE_RESEARCHER">
                {f:translate(key: 'manager.search.batch.buttonBookmark', default: 'In "Meine Publikationen" übernehmen')}
            </f:case>
        </f:switch>
    </a>

    <f:form.hidden
            id="batchActionBatchBookmark"
            class="batchAction"
            name="listData[action]"
            value="batchBookmark"
            additionalAttributes="{disabled:'disabled'}"
    />

</div>
