<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<label for="search-field-language-value" class="col-form-label">Sprache</label>
<select class="custom-select search-field-value" id="search-field-language-value">
    <option value="">
    <option value="bul">Bulgarisch</option>
    <option value="chi">Chinesisch</option>
    <option value="dan">Dänisch</option>
    <option value="ger">Deutsch</option>
    <option value="eng">Englisch</option>
    <option value="fin">Finnisch</option>
    <option value="fre">Französisch</option>
    <option value="gre">Griechisch; Neugriechisch</option>
    <option value="ita">Italienisch</option>
    <option value="lat">Latein</option>
    <option value="dut">Niederländisch; Flämisch</option>
    <option value="dsb">Niedersorbisch</option>
    <option value="hsb">Obersorbisch</option>
    <option value="pol">Polnisch</option>
    <option value="por">Portugiesisch</option>
    <option value="rus">Russisch</option>
    <option value="swe">Schwedisch</option>
    <option value="slo">Slowakisch</option>
    <option value="spa">Spanisch; Kastilisch</option>
    <option value="swa">Swahili</option>
    <option value="cze">Tschechisch</option>
    <option value="vie">Vietnamesisch</option>
</select>