    <f:comment>
    <f:be.menus.actionMenu>
      <f:be.menus.actionMenuItem label="{f:translate(key: 'search.control.simpleSearch')}" controller="Search" action="list" />
      <f:be.menus.actionMenuItem label="{f:translate(key: 'search.control.extendedSearch')}" controller="Search" action="extendedSearch" />
      <f:be.menus.actionMenuItem label="{f:translate(key: 'search.control.new')}" controller="Search" action="list" /> 
    </f:be.menus.actionMenu>
    </f:comment>
        
<div class="be-page-header">       
        <div class="btn-group controller-switch" role="group">
          <f:link.action action="list" controller="Search" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>            
            <f:translate key="search.control.simpleSearch" />          
          </f:link.action>  
          <f:link.action action="extendedSearch" controller="Search" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>            
            <f:translate key="search.control.extendedSearch" />
          </f:link.action>
          <f:link.action action="list" controller="Search" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <f:translate key="search.control.new" />           
          </f:link.action>
        </div>
    </div>