<f:form action="" enctype="multipart/form-data" name="documentData" object="{documentData}">
    <div id="new-element">
        <f:render arguments="{
                        formPageUid:formPageUid,                       
                        formGroupUid:formGroupUid,
                        formGroupDisplayName: formGroupDisplayName,
                        groupItem:groupItem, 
                        groupIndex:groupIndex,
                        fieldItem: fieldItem,
                        formField:formField,
                        fieldIndex: fieldIndex
                        countries:countries}" partial="DocumentForm/Field">
        </f:render>
    </div>
</f:form>