
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Qucosa Form Builder</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_dpf" >
	<tr>
		<th>Document type</th>
		<th> </th>
		<th> </th>
	</tr>
</table>

{documentType.title}


		
    <f:form object="{documentType.title}" objectName="{documentType.title}">
      
      <f:for each="{metadataGroups}" as="metadataGroup">  
        
        <fieldset>
          <legend>{metadataGroup.title}</legend>
        
          <label>Titel</label>
          <f:form.textfield name="text" value="" class="testfield"/>
          <br />
        <fieldset>

      </f:for>
      
    </f:form>
  </f:section>
