
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

{namespace v=Tx_Vhs_ViewHelpers}

<f:section name="main">
 <f:comment><f:debug title="Form">{qucosaForm}</f:debug></f:comment>
<f:flashMessages renderMode="div" />
  
    <h2>{qucosaForm.displayName}</h2>
                                        
    <f:form action="create" name="newDocument" object="{newDocument}">    
      <f:form.hidden name="documentType" value="{basicForm.uid}" />
      <ul class="tx-dpf-tabs">
          <f:for each="{qucosaForm.children}" as="formPage" iteration="pageIterator">
            <li><a href="#tab-{pageIterator.cycle}">{formPage.displayName}</a></li>
          </f:for>          
          <li><a href="#tab-file-upload">Dateien</a></li>
      </ul>
      <div class="css-panes">
          <f:for each="{qucosaForm.children}" as="formPage" iteration="pageIterator">
            <div id="tab-{pageIterator.cycle}" class="fs_page" data-page="{formPage.uid}">
                <v:var.set name="lastGroup" value="0"></v:var.set>
                <f:for each="{formPage.children}" as="group" iteration="groupIterator">
                  
                  <f:if condition="{groupIterator.isFirst}">
                    <f:else>
                      <f:if condition="{lastGroup.uid}!={group.uid}">                    
                        <input type="submit" value="{lastGroup.displayName} hinzufügen" name="add_group" class="add_group" data-group="{lastGroup.uid}"/>
                      </f:if> 
                    </f:else>
                  </f:if>  
                  
                  <fieldset class="fs_group" data-group="{group.uid}">
                        <legend>{group.displayName}</legend>     
                          <f:for each="{group.children}" as="field" iteration="fieldIterator">
                            <label>{field.displayName}</label><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
                            <f:switch expression="{field.fieldType}">
                                <f:case value="0"><f:form.textfield name="newDocument[{field.fieldId}]" value="{field.value}" class="input-field" /></f:case>
                                <f:case value="1"><f:form.textarea  name="newDocument[{field.fieldId}]" value="{field.value}" class="input-field" /></f:case>
                            </f:switch>
                          </f:for>
                        <f:if condition="{group.hasMandatoryFields}">
                             <f:then>
                             </f:then>
                             <f:else>
                                 <f:if condition="{groupIterator.cycle}">
                                 <p><input type="submit" value="{group.displayName} entfernen" name="rem_group" class="rem_group" data-group="{group.uid}"/></p>
                                 </f:if>
                             </f:else>
                         </f:if>
                      </fieldset>                      
                      
                      <f:if condition="{groupIterator.isLast}">                        
                        <input type="submit" value="{group.displayName} hinzufügen" name="add_group" class="add_group" data-group="{group.uid}"/>                        
                      </f:if>  
                  
                      <v:var.set name="lastGroup" value="{group}"></v:var.set>
                </f:for>
            </div>            
          </f:for>
          <div id="tab-file-upload" class="fs_page">
              <fieldset class="fs_file_group" data-group="file-upload">
                <label>Volltextdokument (PDF-Datei)</label><span class="mandatory">*</span>                           
                <f:form.upload property="files" />  
              </fieldset>
              <input type="submit" value="Weitere Datei hinzufügen" name="add_group" class="add_group" data-group="file-upload"/>                                       
          </div>
      </div>
      <div class="form-submit">
            <f:form.submit value="Speichern" name="save" id="save" />
            <f:form.submit value="Speichern und fortsezen" name="savecontinue" id="savecontinue" />
            <f:form.submit value="Abbrechen" name="cancel" id="cancel" />
      </div>
    </f:form>
    <div id="default-templates">
      <f:for each="{basicForm.children}" as="formPage" iteration="pageIterator">           
                <f:for each="{formPage.children}" as="group" iteration="groupIterator">
                    <fieldset class="fs_group" data-group="{group.uid}">
                       <legend>{group.displayName}</legend>                       
                        <f:for each="{group.children}" as="field" iteration="fieldIterator">
                            <label>{field.displayName}</label>
                            <f:switch expression="{field.fieldType}">
                                <f:case value="0"><input type="text" name="tx_dpf_qucosaform[newDocument][{field.fieldId}]" value="{field.value}" class="input-field" /></f:case>
                                <f:case value="1"><textarea  name="tx_dpf_qucosaform[newDocument][{field.fieldId}]" value="{field.value}" class="input-field"></textarea></f:case>
                            </f:switch>
                        </f:for>
                       <p><input type="submit" value="{group.displayName} entfernen" name="rem_group" class="rem_group" data-group="{group.uid}"/></p>
                    </fieldset>                    
                </f:for>                
      </f:for> 
      <fieldset class="fs_file_group" data-group="file-upload">
        <label>Sekundärdatei</label>                       
        <f:form.upload property="tx_dpf_qucosaform[newDocument][files]" />  
      </fieldset>
    </div>  

</f:section>
