
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Qucosa Form Builder</h1>
 <f:comment><f:debug title="Form">{qucosaForm}</f:debug></f:comment>
<f:flashMessages renderMode="div" />
  
    <h2>{qucosaForm.displayName}</h2>
            
    <f:form action="create" name="newDocument" object="{newDocument}">
                 
      <ul class="tx-dpf-tabs">
          <f:for each="{qucosaForm.children}" as="formPage" iteration="pageIterator">
            <li><a href="#tab-{pageIterator.cycle}">{formPage.displayName}</a></li>
          </f:for>
      </ul>
      <div class="css-panes">
          <f:for each="{qucosaForm.children}" as="formPage" iteration="pageIterator">
            <div id="tab-{pageIterator.cycle}" class="fs_page" data-page="{formPage.uid}">
                <f:for each="{formPage.children}" as="group" iteration="groupIterator">
                      <fieldset class="fs_group" data-group="{group.uid}">
                        <legend>{group.displayName}</legend>                       
                          <f:for each="{group.children}" as="field" iteration="fieldIterator">
                            <label>{field.displayName}</label>
                            <f:switch expression="{field.fieldType}">
                                <f:case value="0"><f:form.textfield name="newDocument[{field.fieldId}]" value="{field.value}" class="input-field" /></f:case>
                                <f:case value="1"><f:form.textarea  name="newDocument[{field.fieldId}]" value="{field.value}" class="input-field" /></f:case>
                            </f:switch>
                          </f:for>
                         <p><input type="submit" value="entfernen" name="rem_group" class="rem_group" data-group="{group.uid}"/></p>
                      </fieldset>                    
                      <input type="submit" value="hinzufügen" name="add_group" class="add_group" data-group="{group.uid}"/>
                </f:for>                
            </div>
          </f:for>          
      </div>
      <div class="form-submit">
            <f:form.submit value="Save" name="save" id="save" />
            <f:form.submit value="Save and continue" name="savecontinue" id="savecontinue" />
            <f:form.submit value="Cancel" name="cancel" id="cancel" />
      </div>
    </f:form>
    <div id="default-templates">
      <f:for each="{basicForm.children}" as="formPage" iteration="pageIterator">           
                <f:for each="{formPage.children}" as="group" iteration="groupIterator">
                    <fieldset class="fs_group" data-group="{group.uid}">
                       <legend>{group.displayName}</legend>                       
                        <f:for each="{group.children}" as="field" iteration="fieldIterator">
                            <label>{field.displayName}</label>
                            <f:switch expression="{field.fieldType}">
                                <f:case value="0"><input type="text" name="tx_dpf_qucosaform[newDocument][{field.fieldId}]" value="{field.value}" class="input-field" /></f:case>
                                <f:case value="1"><textarea  name="tx_dpf_qucosaform[newDocument][{field.fieldId}]" value="{field.value}" class="input-field"></textarea></f:case>
                            </f:switch>
                        </f:for>
                       <p><input type="submit" value="entfernen" name="rem_group" class="rem_group" data-group="{group.uid}"/></p>
                    </fieldset>                    
                </f:for>                
      </f:for>           
    </div>  

</f:section>
