<f:layout name="DefaultBE">
</f:layout>
<f:section name="main">
    <h4>
        {f:translate(key: 'manager.activateConfirmMessageHeader')}
    </h4>
    {f:translate(key: 'manager.activateConfirmMessage', arguments: {0: document.title})}
    <br/>
    <br/>
    <f:link.action action="activate" arguments="{document : document}" class="btn btn-danger" controller="Document">
        {f:translate(key: 'manager.releaseConfirmYes')}
    </f:link.action>
    <f:link.action action="list" class="btn btn-primary" controller="Document">
        {f:translate(key: 'manager.releaseConfirmNo')}
    </f:link.action>
</f:section>
