<f:layout name="DefaultBE">
</f:layout>
<f:section name="main">
    <h4>
        {f:translate(key: 'manager.discardConfirmMessageHeader')}
    </h4>
    {f:translate(key: 'manager.discardConfirmMessage', arguments: {0: document.title})}
    <br/>
    <br/>
    <f:link.action action="discard" arguments="{document : document}" class="btn btn-danger" controller="Document">
        {f:translate(key: 'manager.discardConfirmYes')}
    </f:link.action>
    <f:link.action action="list" class="btn btn-primary" controller="Document">
        {f:translate(key: 'manager.discardConfirmNo')}
    </f:link.action>
</f:section>
