<f:layout name="DefaultBE" />


<f:section name="main">
             
    <h4>{f:translate(key: 'manager.discardConfirmMessageHeader')}</h4>
    
    {f:translate(key: 'manager.discardConfirmMessage', arguments: {0: document.title})}
   
    <br /><br />
            
    <f:link.action action="discard" controller="Document" arguments="{document : document}" class="btn btn-danger">{f:translate(key: 'manager.discardConfirmYes')}</f:link.action>                      
    <f:link.action action="list" controller="Document" class="btn btn-primary" >{f:translate(key: 'manager.discardConfirmNo')}</f:link.action>                                   
    

</f:section>
