<f:layout name="DefaultBE" />


<f:section name="main">
     
    
        <h4>{f:translate(key: 'manager.inactivateConfirmMessageHeader')}</h4>
    
        {f:translate(key: 'manager.inactivateConfirmMessage', arguments: {0: document.title})}
   
        <br /><br />
                
    <f:link.action action="inactivate" controller="Document" arguments="{document : document}" class="btn btn-danger">{f:translate(key: 'manager.releaseConfirmYes')}</f:link.action>                      
    <f:link.action action="list" controller="Document" class="btn btn-primary" >{f:translate(key: 'manager.releaseConfirmNo')}</f:link.action>                                   
   
</f:section>
