<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
<f:layout name="Default"/>

<f:section name="main">
    <h1>{f:translate(key: 'documentForm.header.create')}</h1>

    <f:flashMessages renderMode="div"/>

    <f:if condition="{message}=='CREATE_OK'">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon glyphicon-fire pull-right"></span>
            <f:translate key="documentForm.create.ok"/>
        </div>
    </f:if>

    <f:if condition="{message}=='UPLOAD_POST_SIZE_ERROR'">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon glyphicon-fire pull-right"></span>
            <f:translate key="documentForm.uploadPostError"/>
            <br/><br/>
            <a href="javascript:history.back()" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <f:translate key="documentForm.goBack"/>
            </a>
        </div>
    </f:if>

    <f:if condition="{message}=='UPLOAD_MAX_FILESIZE_ERROR'">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon glyphicon-fire pull-right"></span>
            <f:translate key="documentForm.uploadError"/>
            <ul class="error-files-backbutton">
                <f:for each="{errorFiles}" as="file">
                    <li>{file}</li>
                </f:for>
            </ul>
            <a href="javascript:history.back()" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <f:translate key="documentForm.goBack"/>
            </a>
        </div>
    </f:if>

    <f:if condition="{listtype}=='list'">

        <table class="tx_dpf">
            <tr>
                <th>Titel</th>
                <th>Typ</th>
                <th></th>
            </tr>

            <f:for each="{documents}" as="document">
                <tr>
                    <td>
                        <f:link.action action="show" arguments="{document : document}"> {document.title}</f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" arguments="{document : document}">
                            {document.documentType.displayName}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="edit" arguments="{document : document}">bearbeiten</f:link.action>
                    </td>
                    <td>
                        <f:link.action action="delete" arguments="{document : document}">löschen</f:link.action>
                    </td>
                </tr>
            </f:for>
        </table>

    </f:if>

    <ol>
        <f:for each="{documentTypes}" as="documentType">
            <li>
                <f:link.action action="new" arguments="{documentType:documentType.uid}">{documentType.displayName}
                </f:link.action>
            </li>
        </f:for>
    </ol>
</f:section>
