<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Backoffice"/>

<f:section name="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom sticky-top pt-3">
        <h1 class="h2">Details</h1>

        <span id="ajaxState" style="display:hidden;" data-ajaxState="{f:uri.action(action:'isDocumentEditable',controller:'AjaxBackoffice', arguments: '{identifier: \'{document.documentIdentifier}\'}', pageType:settings.ajaxTypeNum)}" />

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="mr-2">
                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_RELEASE_ACTIVATE')}">
                    <f:if condition="{document.state} != 'NONE:ACTIVE' || {document.workingCopy} == 1">
                        <f:link.action action="releaseActivate" arguments="{document : document, tstamp : document.tstamp}"
                                       class="isDocumentEditable btn
                                            {f:if(condition: '{document.state} == \'IN_PROGRESS:ACTIVE\' && {document.workingCopy} == 1', then: 'btn-m', else: 'btn-sm')}
                                            {f:if(condition: '{document.valid}', then: 'btn-success', else: 'btn-success')}"
                                       additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-confirmTarget: '#confirmReleasePublish'}">
                            <i class="fas fa-check"></i>
                            {f:translate(key: 'manager.releasePublish')}
                        </f:link.action>
                    </f:if>
                </f:if>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_RELEASE_PUBLISH')}">
                    <f:link.action action="releasePublish" arguments="{document : document, tstamp : document.tstamp}"
                                   class="isDocumentEditable btn btn-sm {f:if(condition: '{document.valid}', then: 'btn-success', else: 'btn-success')}"
                                   additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-confirmTarget: '#confirmReleasePublish'}">
                        <i class="fas fa-check"></i>
                        {f:translate(key: 'manager.releasePublish')}
                    </f:link.action>
                </f:if>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_SUGGEST_MODIFICATION')}">
                    <f:link.action
                        action="suggestModification"
                        controller="Document"
                        arguments="{document:document}"
                        class="btn btn-sm btn-secondary"
                        additionalAttributes="{data-documenttitle: document.title}">
                        <i class="fas fa-sticky-note"></i>
                        {f:translate(key: 'form_button.suggestion')}
                    </f:link.action>
                </f:if>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_REGISTER')}">
                    <f:link.action
                        action="register"
                        controller="Document"
                        arguments="{document:document}"
                        class="btn btn-sm btn-success
                                        {f:if(condition: '{dpf:isAccessGranted(subject:\'{document}\', attribute:\'DOCUMENT_REGISTER\')}', then: '', else: 'disabled')}"
                        additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmRegister'}">
                        <i class="fas fa-share"></i>
                        {f:translate(key: 'form_button.register')}
                    </f:link.action>
                </f:if>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_POSTPONE')}">
                    <f:if condition="{document.state} != 'NONE:INACTIVE' || {document.workingCopy} == 1">
                        <f:link.action
                            action="postpone"
                            controller="Document"
                            arguments="{document:document, tstamp:document.tstamp}"
                            class="isDocumentEditable btn btn-info
                                    {f:if(condition: '{document.state} == \'IN_PROGRESS:INACTIVE\' && {document.workingCopy} == 1', then: 'btn-m', else: 'btn-sm')}"
                            additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-confirmTarget: '#confirmPostpone'}">
                            <i class="fas fa-pause-circle"></i>
                            {f:translate(key: 'manager.postpone')}
                        </f:link.action>
                    </f:if>
                </f:if>
                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_DISCARD')}">
                    <f:if condition="{document.state} != 'NONE:DELETED' || {document.workingCopy} == 1">
                        <f:link.action
                            action="discard"
                            controller="Document"
                            arguments="{document:document, tstamp:document.tstamp}"
                            class="isDocumentEditable btn btn-warning
                                    {f:if(condition: '{document.state} == \'IN_PROGRESS:DELETED\' && {document.workingCopy} == 1', then: 'btn-m', else: 'btn-sm')}"
                            additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-confirmTarget: '#confirmDiscard'}">
                            <i class="fas fa-ban"></i>
                            {f:translate(key: 'manager.discard')}
                        </f:link.action>
                    </f:if>
                </f:if>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_EDIT')}">
                    <f:link.action
                        action="edit"
                        controller="DocumentFormBackoffice"
                        arguments="{document:document}"
                        class="isDocumentEditable btn btn-sm btn-primary"
                        additionalAttributes="{data-toggle: 'modal', data-confirmTarget: ''}">
                        <i class="fas fa-edit"></i>
                        {f:translate(key: 'form_button.edit')}
                    </f:link.action>
                </f:if>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_DELETE_WORKING_COPY')}">
                    <f:link.action
                        action="deleteLocally"
                        controller="Document"
                        arguments="{document:document, tstamp:document.tstamp}"
                        class="isDocumentEditable btn btn-sm btn-danger"
                        additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-confirmTarget: '#confirmDeleteWorkingCopy'}">
                        <i class="fas fa-trash-alt"></i>
                        {f:translate(key: 'form_button.deleteWorkingCopy')}
                    </f:link.action>
                </f:if>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_DELETE_LOCALLY')}">
                    <f:link.action
                        action="deleteLocally"
                        controller="Document"
                        arguments="{document:document, tstamp:document.tstamp}"
                        class="isDocumentEditable btn btn-sm btn-danger"
                        additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-confirmTarget: '#confirmDeleteLocally'}">
                        <i class="fas fa-trash-alt"></i>
                        {f:translate(key: 'form_button.deleteLocally')}
                    </f:link.action>
                </f:if>

                <f:link.action
                    action="duplicate"
                    controller="Document"
                    arguments="{document:document}"
                    class="btn btn-sm btn-secondary">
                    <i class="far fa-copy"></i>

                    {f:translate(key: 'form_button.duplicate')}
                </f:link.action>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_EDIT')}">
                    <f:link.action
                        action="changeDocumentType"
                        controller="Document"
                        arguments="{document:document}"
                        class="isDocumentEditable btn btn-sm btn-secondary"
                        additionalAttributes="{data-toggle: 'modal', data-confirmTarget:'#confirmDoctypeChange'}">
                        <i class="fas fa-exchange-alt"></i>
                        {f:translate(key: 'form_button.changeDocumentType')}
                    </f:link.action>
                </f:if>

                <f:link.action
                    action="cancelListTask"
                    controller="Document"
                    class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-times"></i>
                    {f:translate(key: 'manager.documentDetails.cancel')}
                </f:link.action>
            </div>
        </div>
    </div>

    <f:flashMessages />

    <div style="margin-bottom: 20px;">
        <span class="documentLocked alert alert-warning" style="display:none;">
            {f:translate(key: 'manager.alertDocumentLocked.message')}
        </span>
    </div>

    <f:if condition="{suggestion} && {dpf:security.kitodoRole()} == 'ROLE_LIBRARIAN'">
        <ul class="typo3-messages">
            <li class="alert alert-warning">
                <p class="alert-message">
                    <f:link.action action="showSuggestionDetails" controller="Document" arguments="{document:suggestion}">
                        <f:translate key="manager.documentDetails.suggestionWarning" />
                    </f:link.action>
                </p>
            </li>
        </ul>
    </f:if>

    <div class="details-view">
        <f:render partial="ShowDetails/Details" arguments="{_all}"/>
    </div>

    <f:render partial="Document/ConfirmAction" arguments="{action: 'discard', reasonRequired: '1', reasonOptions:discardOptions, destructiveAction: '1'}" />
    <f:render partial="Document/ConfirmAction" arguments="{action: 'postpone', reasonRequired: '1', reasonOptions:postponeOptions, destructiveAction: '1'}" />
    <f:render partial="Document/ConfirmAction" arguments="{action: 'deleteLocally', destructiveAction: '1'}" />
    <f:render partial="Document/ConfirmAction" arguments="{action: 'deleteWorkingCopy', destructiveAction: '1'}" />
    <f:render partial="Document/ConfirmAction" arguments="{action: 'register'}" />
    <f:render partial="Document/ConfirmAction" arguments="{action: 'releasePublish'}" />
    <f:render partial="Document/ConfirmAction" arguments="{action: 'releaseActivate'}" />

    <div class="modal" tabindex="-1" role="dialog" id="confirmDoctypeChange">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {f:translate(key: 'manager.confirmDoctypeChange.header')}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <f:form id="changeDocumentTypeForm" action="changeDocumentType" method="post" name="document" object="{document}" enctype="multipart/form-data">
                        <label for="documentTypeUid">{f:translate(key: 'manager.confirmDoctypeChange.newDocumentType')}</label>
                        <f:form.select name="documentTypeUid" class="custom-select form-control" options="{documentTypes}" value="" additionalAttributes="{required: 1}"/>
                        <br /><br />
                    </f:form>

                    {f:translate(key: 'manager.confirmDoctypeChange.message')}

                    <div class="details-view">
                        <f:render partial="ShowDetails/Details" arguments="{_all}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveDocumentSummary">{f:translate(key: 'manager.confirmDoctypeChange.saveSummary')}</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key: 'manager.confirmDoctypeChange.cancel')}</button>
                    <button type="submit" form="changeDocumentTypeForm" class="btn btn-danger submitChangeDocumentType">{f:translate(key: 'manager.confirmDoctypeChange.submit')}</button>
                </div>
            </div>
        </div>
    </div>


    <f:render partial="Document/AlertModal" arguments="{name: 'documentState'}" />
    <f:render partial="Document/AlertModal" arguments="{name: 'documentLocked'}" />
    <f:render partial="Document/AlertModal" arguments="{name: 'unexpected'}" />

</f:section>
