<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Backoffice"/>

<f:section name="main">
        <f:render partial="Workspace/ListWorkspace"
                  arguments="{
                    documents:documents,
                    currentUser:currentUser,
                    workspace:'workspace',
                    workspaceListAction:'listWorkspace',
                    client:client,
                    message:message,
                    pages:pages,
                    itemsPerPage:itemsPerPage,
                    maximumNumberOfLinks:maximumNumberOfLinks,
                    aggregations:aggregations,
                    filters:filters,
                    isHideDiscarded: isHideDiscarded
                  }"
        />
</f:section>
