<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}
<f:layout name="Backoffice"/>
<f:section name="main">
    <h1><f:translate key="manager.locallang.user.settings"/></h1>

    <f:flashMessages />

    <f:form id="userSettings" action="saveSettings" object="{frontendUser}" objectName="frontendUser">
        <div class="form-row col-md-4">
            <f:alias map="{usersetting: '1', api: 'Fis', hidePersonSwitch: '1'}">
                <f:render partial="Api/ApiModal" arguments="{_all}" />
            </f:alias>
        </div>
        <div class="form-group col-md-4">
            <label for="firstName"><f:translate key="manager.locallang.user.settings.firstName"/></label>
            <f:form.textfield id="firstName" property="firstName" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="lastName"><f:translate key="manager.locallang.user.settings.lastName"/></label>
            <f:form.textfield id="lastName" property="lastName" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="fisPersId"><f:translate key="manager.locallang.user.settings.identifier"/></label>
            <f:form.textfield id="fisPersId" property="fisPersId" class="form-control" />
        </div>

        <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_RESEARCHER\'}')}">
            <div class="form-group col-md-12">
                <br />
                <b><f:translate key="manager.locallang.user.settings.email.info"/></b>
            </div>

            <div class="form-group col-md-4">
                <label><f:translate key="manager.locallang.user.settings.email"/></label >
                <f:form.textfield property="email" class="form-control"/>
            </div>

            <div class="form-group col-md-8">
                <b><f:translate key="manager.locallang.user.settings.notifications"/></b>
                <div class="form-check">
                    <f:form.checkbox id="notifyOnChanges" property="notifyOnChanges" value="1" class="form-check-input" />
                    <label for="notifyOnChanges" class="form-check-label"><f:translate key="manager.locallang.user.settings.changes_mypublications"/></label>
                    <div class="form-check">
                        <f:form.checkbox property="notifyPersonalLink" value="1" class="form-check-input" />
                        <label class="form-check-label"><f:translate key="manager.locallang.user.settings.assigned_myself"/></label>
                    </div>
                    <div class="form-check">
                        <f:form.checkbox property="notifyStatusChange" value="1" class="form-check-input" />
                        <label class="form-check-label"><f:translate key="manager.locallang.user.settings.on_status_change"/></label>
                    </div>
                    <div class="form-check">
                        <f:form.checkbox property="notifyFulltextPublished" value="1" class="form-check-input" />
                        <label class="form-check-label"><f:translate key="manager.locallang.user.settings.fulltext_media_published"/></label>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-8">
                <div class="form-check">
                    <f:form.checkbox property="notifyNewPublicationMypublication" value="1" class="form-check-input" />
                    <label class="form-check-label"><f:translate key="manager.locallang.user.settings.new_in_mypublications"/></label>
                </div>
            </div>
        </f:if>

        <div class="form-group col-md-4">
            <f:form.submit value="{f:translate(key: 'manager.locallang.user.settings.save')}" class="btn btn-primary" />
        </div>

    </f:form>
</f:section>