<f:form.validationresults for="{object}">
    <f:if condition="{validationResults.flattenedErrors}">
        <ul>
            <f:for as="errors" each="{validationResults.flattenedErrors}" key="propertyPath">
                <li>
                    {propertyPath}:
                    <ul>
                        <f:for as="error" each="{errors}">
                            <li>
                                {error}
                            </li>
                        </f:for>
                    </ul>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:form.validationresults>