<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

<f:alias map="{actionName: '{f:format.case(value: \'{action}\', mode: \'capital\')}', actionSuffix: '{f:format.case(value: \'{suffix}\', mode: \'capital\')}'}">
    <div class="modal fade" id="confirm{f:format.case(value: '{actionName}', mode: 'capital')}" tabindex="-1" aria-hidden="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{f:translate(key: 'manager.confirm{actionName}{actionSuffix}.messageHeader')}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="{f:translate(key: 'manager.confirm.no')}"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>{f:translate(key: 'manager.confirm{actionName}{actionSuffix}.message', arguments: {0: '%s'})}</p>
                    <f:form id="confirm{actionName}Document" action="postpone" method="post" name="document" object="{document}" enctype="multipart/form-data">
                        <f:if condition="{reasonRequired}">
                            <label data-error="wrong" data-success="right">
                                <f:if condition="{f:translate(key: 'manager.confirm{actionName}Reason')}">
                                    <f:then>
                                        {f:translate(key: 'manager.confirm{actionName}Reason')}
                                    </f:then>
                                    <f:else>
                                        {f:translate(key: 'manager.confirmReason')}
                                    </f:else>
                                </f:if>
                            </label>
                            <f:if condition="{reasonOptions}">
                                <div class="input-group">
                                    <select id="confirm{actionName}ReasonSelect" name="reasonSelect" class="form-control">
                                        <option></option>
                                        <f:for each="{reasonOptions}" key="key" as="option">
                                            <option value="{key}">{option}</option>
                                        </f:for>
                                    </select>
                                </div>
                                <br />
                            </f:if>
                            <div class="input-group">
                                <f:form.textarea id="confirm{actionName}Reason" name="reason" class="form-control validate" value="" />
                            </div>
                        </f:if>
                    </f:form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key:
                        'manager.confirm.no')}
                    </button>
                    <button type="submit" form="confirm{actionName}Document" class="btn btn-danger">{f:translate(key:
                        'manager.confirm.yes')}
                    </button>
                </div>
            </div>
        </div>
    </div>
</f:alias>
