<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom sticky-top pt-3">
    <h1 class="h2">{f:translate(key: 'manager.control.search')}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <f:link.action action="search" controller="Search" arguments="{refresh:1}"
                           class="btn btn-sm btn-outline-secondary {dpf:activeManagerMenu(controllerName:'Search', actionNames:{0:'search'})}">
                <i class="fas fa-search"></i>
                <f:translate key="search.control.simpleSearch"/>
            </f:link.action>
            <f:link.action action="extendedSearch" controller="Search" arguments="{refresh:1}"
                           class="btn btn-sm btn-outline-secondary {dpf:activeManagerMenu(controllerName:'Search', actionNames:{0:'extendedSearch'})}">
                <i class="fas fa-search"></i>
                <f:translate key="search.control.extendedSearch"/>
            </f:link.action>
        </div>
    </div>
</div>