<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

<f:be.container
        includeCssFiles="{0: '{f:uri.resource(path:\'CSS/bootstrap.min.css\')}',1: '{f:uri.resource(path:\'CSS/manager.css\')}'}">
    <div class="tx-dpf">
        <p class="bg-info client">{client.client}</p>
        <f:render section="main"/>
    </div>
</f:be.container>
