<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

{namespace dpf=EWW\Dpf\ViewHelpers}

<f:be.container loadPrototype="false" loadScriptaculous="false" enableClickMenu="false"
                includeCssFiles="{0: '{f:uri.resource(path:\'CSS/bootstrap.min.css\')}',1: '{f:uri.resource(path:\'CSS/manager.css\')}'}"
                includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/jQuery.min.js\')}',1: '{f:uri.resource(path:\'JavaScript/moment-with-locales.min.js\')}',2: '{f:uri.resource(path:\'JavaScript/bootstrap.min.js\')}',3: '{f:uri.resource(path:\'JavaScript/bootstrap-datetimepicker.min.js\')}',4: '{f:uri.resource(path:\'JavaScript/qucosa.js\')}'}">
    <div class="tx-dpf" data-language="{dpf:language()}">
        <f:comment>
            <f:debug title="Debug" maxDepth="20">{debugData}</f:debug>
        </f:comment>
        <p class="bg-info client">{f:translate(key: 'manager.client')}: <strong>{client.client}</strong></p>

        <f:be.menus.actionMenu>
            <f:be.menus.actionMenuItem label="{f:translate(key: 'manager.control.documents')}" controller="DocumentManager"
                                       action="list"/>
            <f:be.menus.actionMenuItem label="{f:translate(key: 'manager.control.search')}" controller="Search"
                                       action="list"/>
        </f:be.menus.actionMenu>

        <div class="be-page-header">
            <div class="btn-group controller-switch" role="group">
                <f:link.action action="list" controller="DocumentManager"
                               class="btn btn-default btn-sm {dpf:activeManagerMenu(controllerName:'DocumentManager')}">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    {f:translate(key: 'manager.control.documents')}
                </f:link.action>
                <f:link.action action="list" controller="Search"
                               class="btn btn-default btn-sm {dpf:activeManagerMenu(controllerName:'Search')}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    {f:translate(key: 'manager.control.search')}
                </f:link.action>
            </div>
        </div>

        <f:flashMessages renderMode="div"/>

        <f:render section="main"/>
    </div>
</f:be.container>
