{namespace dpf = EWW\Dpf\ViewHelpers}

<f:be.container
 includeCssFiles="{0: '{f:uri.resource(path:\'CSS/bootstrap.min.css\')}',
 1: '{f:uri.resource(path:\'CSS/manager.css\')}'}"
includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/jQuery.min.js\')}',
 1: '{f:uri.resource(path:\'JavaScript/jquery.tools.min.js\')}',
 2: '{f:uri.resource(path:\'JavaScript/qucosa.js\')}'}"> 
    
  <div class="tx-dpf">
    <f:comment> <f:debug title="Debug" maxDepth="20">{debugData}</f:debug> </f:comment>
    <p class="bg-info client">Mandant: <strong>{client.client}</strong></p>

    <f:be.menus.actionMenu>
      <f:be.menus.actionMenuItem label="Dokumente" controller="Document" action="list" />
      <f:be.menus.actionMenuItem label="Suche" controller="Search" action="list" />
    </f:be.menus.actionMenu>

    
    <div class="be-page-header">
        <h3>Local Documents</h3>
        <div class="btn-group controller-switch" role="group">
          <f:link.action action="list" controller="Document" class="btn btn-default btn-sm {dpf:activeManagerMenu(controllerName:'Document')}">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            Dokumente
          </f:link.action>  
          <f:link.action action="list" controller="Search" class="btn btn-default btn-sm {dpf:activeManagerMenu(controllerName:'Search')}">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Suche
          </f:link.action>
        </div>
    </div>

    <f:flashMessages renderMode="div" />
       
    <f:render section="main" />
  </div>

</f:be.container> 
