{namespace dpf=EWW\Dpf\ViewHelpers}
<div class="tx-dpf" data-language="{dpf:language()}">
    <script type="text/javascript">
        var form_error_msg_group_mandatory =  '<f:translate key="form_error_msg.group_mandatory" default="Please fill in the required fields." />';
         var form_error_msg_group_one_required = '<f:translate key="form_error_msg.group_one_required"  default="Please fill out at least one of the fields." />';
         var form_error_msg_field_invalid =  '<f:translate key="form_error_msg.field_invalid" default="Invalid input" />';
         var form_error_msg = '<f:translate key="form_error_msg.all" default="The form contains errors."/>';
         var form_success_msg = '<f:translate key="form_success_msg.all" default="Form successfully validated."/>';
    </script>
    <f:render section="main">
    </f:render>
</div>
