<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

{namespace dpf=EWW\Dpf\ViewHelpers}

<f:be.container enableClickMenu="false"
                includeCssFiles="{
                    0: '{f:uri.resource(path:\'CSS/jquery-ui.css\')}',
                    1: '{f:uri.resource(path:\'CSS/jquery-ui.structure.css\')}',
                    2: '{f:uri.resource(path:\'CSS/qucosa.css\')}',
                    3: '{f:uri.resource(path:\'CSS/qucosabe.css\')}'}"
                includeRequireJsModules="{0: 'TYPO3/CMS/Dpf/QucosaBe'}">

    <div class="tx-dpf" data-language="{dpf:language()}">

        <f:render partial="Layouts/DocumentBE" arguments="{_all}" />

        <f:render section="main"/>

    </div>

</f:be.container>
