<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Backoffice"/>

<f:section name="main">

    <f:render partial="Search/SearchControl" arguments="{searchList: searchList}"/>

    <div class="alert alert-success fade show alert-save-extended-search-success" role="alert" style="display:none;">
        {f:translate(key: 'manager.search.saveQuery.successfully')}
    </div>

    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
        <div class="dropdown" id="extended-search-add-field">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {f:translate(key: 'manager.search.addSearchField')}
            </button>
            <div class="dropdown-menu scrollable-menu" id="search-field-selection" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" data-field="persons" data-form-group="default" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.persons')}
                </a>
                <a class="dropdown-item" data-field="affiliation" data-form-group="default" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.affiliation')}
                </a>
                <a class="dropdown-item" data-field="corporation" data-form-group="default" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.corporation')}
                </a>
                <a class="dropdown-item" data-field="title" data-form-group="default" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.title')}
                </a>
                <a class="dropdown-item" data-field="identifier" data-form-group="default" data-type="phrase" href="#">
                    {f:translate(key: 'manager.search.searchField.identifier')}
                </a>
                <a class="dropdown-item" data-field="doctype" data-form-group="doctype" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.publicationType')}
                </a>
                <a class="dropdown-item" data-field="source" data-form-group="default" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.source')}
                </a>
                <a class="dropdown-item" data-field="searchYear" data-form-group="year-range" data-type="year-range" href="#">
                    {f:translate(key: 'manager.search.searchField.year')}
                </a>
                <a class="dropdown-item" data-field="publisher" data-form-group="default" data-type="phrase" href="#">
                    {f:translate(key: 'manager.search.searchField.publisher')}
                </a>
                <a class="dropdown-item" data-field="language" data-form-group="language" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.language')}
                </a>

                <a class="dropdown-item" data-field="textType" data-form-group="textType" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.textType')}
                </a>

                <a class="dropdown-item" data-field="openAccess" data-form-group="bool" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.openAccess')}
                </a>

                <a class="dropdown-item" data-field="peerReview" data-form-group="ternary" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.peerReview')}
                </a>

                <a class="dropdown-item" data-field="license" data-form-group="license" data-type="value" href="#">
                    {f:translate(key: 'manager.search.searchField.license')}
                </a>

                <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
                    <a class="dropdown-item" data-field="aliasState" data-form-group="state" data-type="value" href="#">
                        {f:translate(key: 'manager.search.searchField.state')}
                    </a>
                    <a class="dropdown-item" data-field="universityCollection" data-form-group="bool" data-type="value" href="#">
                        {f:translate(key: 'manager.search.searchField.universityPublication')}
                    </a>
                    <a class="dropdown-item" data-field="hasFiles" data-form-group="bool" data-type="value" href="#">
                        {f:translate(key: 'manager.search.searchField.withFile')}
                    </a>
                    <a class="dropdown-item" data-field="embargoDate" data-form-group="date-range" data-type="date-range" href="#">
                        {f:translate(key: 'manager.search.searchField.embargoEnd')}
                    </a>
                    <a class="dropdown-item" data-field="creationDate" data-form-group="date-range" data-type="date-range" href="#">
                        {f:translate(key: 'manager.search.searchField.creationDate')}
                    </a>
                    <a class="dropdown-item" data-field="notes" data-form-group="default" data-type="value" href="#">
                        {f:translate(key: 'manager.search.searchField.comment')}
                    </a>

                    <a class="dropdown-item" data-field="dateIssued" data-form-group="date-range" data-type="date-range" href="#">
                        {f:translate(key: 'manager.search.searchField.dateIssued')}
                    </a>

                    <a class="dropdown-item" data-field="frameworkAgreementId" data-form-group="default" data-type="value" href="#">
                        {f:translate(key: 'manager.search.searchField.frameworkAgreementId')}
                    </a>

                    <a class="dropdown-item" data-field="collections" data-form-group="collections" data-type="value" href="#">
                        {f:translate(key: 'manager.search.searchField.collection')}
                    </a>

                </f:if>
            </div>
        </div>
        </div>

        <div class="btn-group mr-2" role="group">
            <button type="button"
                    class="btn btn-sm btn-outline-dark dropdown-toggle"

                    data-toggle="dropdown" id="load-extended-search"
                    disabled="disabled">
                <i class="far fa-folder-open"></i>
                {f:translate(key: 'manager.search.loadQuery')}
            </button>
            <div class="dropdown-menu scrollable-menu" id="load-extended-search-select" aria-labelledby="dropdownMenuButton"
                 data-boundary="viewport"
                 data-ajax="{f:uri.action(action:'loadExtendedSearchList',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}"
                 data-ajax-load="{f:uri.action(action:'loadExtendedSearch',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
            </div>
        </div>

        <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-sm btn-outline-dark" id="save-extended-search">
                <i class="far fa-save"></i>
                {f:translate(key: 'manager.search.saveQuery')}
            </button>
        </div>
    </div>

    <f:form action="extendedSearch" name="query" class="">
        <div class="input-group mb-3" id="extended-search-query-group">
            <f:form.hidden property="extsearch" value="1"/>
            <f:form.textarea property="fulltext" class="form-control"
                              placeholder="" id="extended-search-query"
                              value="{simpleSearch}"/>
        </div>

        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    {f:translate(key: 'search.form.button.search')}
                </button>
            </div>
        </div>
    </f:form>

    <f:render partial="Search/ListSearchResults" arguments="{_all}" />

    <f:render partial="Search/AddSearchFieldDialog" arguments="{_all}" />
    <f:render partial="Search/SaveExtendedSearchDialog" arguments="{_all}" />

</f:section>
