<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Backoffice"/>

<f:section name="main">

    <f:render partial="Search/SearchControl" arguments="{searchList: searchList}"/>

    <div class="alert alert-success fade show alert-save-extended-search-success" role="alert" style="display:none;">
        {f:translate(key: 'manager.search.saveQuery.successfully')}
    </div>

    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
        <div class="dropdown" id="extended-search-add-field">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {f:translate(key: 'manager.search.addSearchField')}
            </button>
            <div class="dropdown-menu scrollable-menu" id="search-field-selection" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" data-field="persons" data-form-group="default" data-type="value" href="#">Personen</a>
                <a class="dropdown-item" data-field="corporation" data-form-group="default" data-type="value" href="#">Organisation</a>
                <a class="dropdown-item" data-field="title" data-form-group="default" data-type="value" href="#">Titel</a>
                <a class="dropdown-item" data-field="identifier" data-form-group="default" data-type="phrase" href="#">Identifikator</a>
                <a class="dropdown-item" data-field="doctype" data-form-group="doctype" data-type="value" href="#">Publikationstyp</a>
                <a class="dropdown-item" data-field="source" data-form-group="default" data-type="value" href="#">Quelle</a>
                <a class="dropdown-item" data-field="year" data-form-group="year-range" data-type="year-range" href="#">Jahr</a>
                <a class="dropdown-item" data-field="publisher" data-form-group="default" data-type="value" href="#">Verlag</a>
                <a class="dropdown-item" data-field="language" data-form-group="language" data-type="value" href="#">Sprache</a>

                <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
                    <a class="dropdown-item" data-field="simpleState" data-form-group="state" data-type="value" href="#">Status</a>
                    <a class="dropdown-item" data-field="universityCollection" data-form-group="bool" data-type="value" href="#">UL-Publikation</a>
                    <a class="dropdown-item" data-field="hasFiles" data-form-group="bool" data-type="value" href="#">Mit Datei (Volltext)</a>
                    <a class="dropdown-item" data-field="embargoDate" data-form-group="date-range" data-type="date-range" href="#">Embargoende</a>
                    <a class="dropdown-item" data-field="notes" data-form-group="default" data-type="value" href="#">Kommentar</a>
                </f:if>
            </div>
        </div>
        </div>

        <div class="btn-group mr-2" role="group">
            <button type="button"
                    class="btn btn-sm btn-outline-dark dropdown-toggle"

                    data-toggle="dropdown" id="load-extended-search"
                    disabled="disabled">
                <i class="far fa-folder-open"></i>
                {f:translate(key: 'manager.search.loadQuery')}
            </button>
            <div class="dropdown-menu scrollable-menu" id="load-extended-search-select" aria-labelledby="dropdownMenuButton"
                 data-boundary="viewport"
                 data-ajax="{f:uri.action(action:'loadExtendedSearchList',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}"
                 data-ajax-load="{f:uri.action(action:'loadExtendedSearch',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
            </div>
        </div>

        <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-sm btn-outline-dark" id="save-extended-search">
                <i class="far fa-save"></i>
                {f:translate(key: 'manager.search.saveQuery')}
            </button>
        </div>
    </div>

    <f:form action="search" name="query" class="">
        <div class="input-group mb-3" id="extended-search-query-group">
            <f:form.hidden property="extsearch" value="1"/>
            <f:form.textarea property="fulltext" class="form-control"
                              placeholder="" id="extended-search-query"
                              value="{simpleSearch}"/>
        </div>

        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    {f:translate(key: 'search.form.button.search')}
                </button>
            </div>
        </div>
    </f:form>

    <f:render partial="Search/ListSearchResults" arguments="{_all}" />

    <f:render partial="Search/AddSearchFieldDialog" arguments="{_all}" />
    <f:render partial="Search/SaveExtendedSearchDialog" arguments="{_all}" />

</f:section>
