<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="DefaultBE"/>

<f:section name="main">

    <f:render partial="Search/SearchControl" arguments="{searchList: searchList}"/>

    <div class="searchForm">
        <f:form action="search" name="extSearch" class="form-inline">
            <h5>{f:translate(key: 'search.form.header.extendedSearch')}</h5>
            <div class="form-group">
                <label for="extId">{f:translate(key: 'search.form.label.datasetIdentifier')}</label>
                <f:form.textfield property="extId" class="form-control"
                                  placeholder="{f:translate(key: 'search.form.label.datasetIdentifier')}" id="extId"
                                  value="{id}"/>
            </div>
            <div class="form-group">
                <label for="extTitle">{f:translate(key: 'search.form.label.title')}</label>
                <f:form.textfield property="extTitle" class="form-control"
                                  placeholder="{f:translate(key: 'search.form.label.title')}" id="extTitle"
                                  value="{title}"/>
            </div>
            <div class="form-group">
                <label for="extAuthor">{f:translate(key: 'search.form.label.author')}</label>
                <f:form.textfield property="extAuthor" class="form-control"
                                  placeholder="{f:translate(key: 'search.form.label.author')}" id="extAuthor"
                                  value="{author}"/>
            </div>
            <div class="form-group">
                <label for="extDeleted" class="show-label">{f:translate(key:
                    'search.form.label.inactiveDeleted')}</label>
                <f:form.checkbox property="extDeleted" class="form-control" id="extDeleted" value="true"
                                 checked="{showDeleted}"/>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding:0px;">
                        <div class="form-group">
                            <label for="extFrom">{f:translate(key: 'search.form.label.date')}</label>
                            <f:form.textfield property="extFrom" class="form-control datetimepicker"
                                              placeholder="{f:translate(key: 'search.form.label.from')}" id="extFrom"
                                              value="{from}"/>
                            <label for="extTill">{f:translate(key: 'search.form.label.to')}</label>
                            <f:form.textfield property="extTill" class="form-control datetimepicker"
                                              placeholder="{f:translate(key: 'search.form.label.to')}" id="extTill"
                                              value="{till}"/>
                        </div>
                    </div>
                </div>
            </div>

            <f:form.hidden property="extSearch" value="true"/>
            <f:form.button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                {f:translate(key: 'search.form.button.search')}
            </f:form.button>
        </f:form>
    </div>

    <f:render partial="Search/ResultList" arguments="{searchList: searchList, alreadyImported: alreadyImported}"/>
    <center>
        <f:link.action id="next" controller="Search" action="nextResults">{f:translate(key: 'search.resultList.more')}
        </f:link.action>
    </center>
</f:section>
