<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Backoffice"/>

<f:section name="main">

    <f:render partial="Search/SearchControl" arguments="{searchList: searchList}"/>

    <f:flashMessages />

    <div class="searchForm">
        <f:form action="search" name="query" class="form-inline">
            <div class="form-group">
                <label for="query">{f:translate(key: 'search.form.label.query')}</label>
                <f:form.textfield property="fulltext" class="form-control"
                                  placeholder="{f:translate(key: 'search.form.label.query')}" id="query"
                                  value="{query.fulltext}"/>
            </div>
            <f:form.button class="btn btn-secondary" type="submit">
                <i class="fas fa-search"></i>
                {f:translate(key: 'search.form.button.search')}
            </f:form.button>
        </f:form>
    </div>
    <f:render partial="Search/ResultList" arguments="{searchList: searchList, workingCopies: workingCopies, bookmarks: bookmarks, feUserUid: feUserUid}"/>
    <center>
        <f:link.action id="next" controller="Search" action="nextResults" additionalAttributes="{data-result-count: resultCount}">{f:translate(key: 'search.resultList.more')}
        </f:link.action>
    </center>
</f:section>
