{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="DefaultBE" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder


<f:section name="main">
                               
    <div class="searchForm">
      <f:form action="search" name="search" class="form-inline">
        <h5>Einfache Suche</h5>
        <div class="form-group">
          <label for="query">Query</label>
          <f:form.textfield property="query" class="form-control" placeholder="Query" id="query" />
        </div>
        <f:form.button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Suchen
        </f:form.button>
      </f:form>
    </div>

    <div class="searchForm">
      <f:form action="search" name="extSearch" class="form-inline">
        <h5>Erweiterte Suche</h5>
        <div class="form-group">
          <label for="extId">ID</label>
          <f:form.textfield property="extId" class="form-control" placeholder="ID" id="extId" />
        </div>
        <div class="form-group">
          <label for="extTitle">Titel</label>
          <f:form.textfield property="extTitle" class="form-control" placeholder="Titel" id="extTitle" />
        </div>
        <div class="form-group">
          <label for="extAuthor">Autor</label>
          <f:form.textfield property="extAuthor" class="form-control" placeholder="Autor" id="extAuthor" />
        </div>
        <div class="form-group">
          <label for="extDeleted">Gelöscht</label>
          <f:form.checkbox property="extDeleted" class="form-control" id="extDeleted" value="true"/>
        </div>
        <f:form.hidden property="extSearch" value="true" />        
        <f:form.button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Suchen
        </f:form.button>
      </f:form>
    </div>

	<table id="search-results" class="tx_dpf table table-striped table-manager table-condensed">
		<thead>
			<tr>
				<th class="xcol-md-5">ID</th>
				<th class="xcol-md-4"><f:translate key="tx_dpf_domain_model_document.title" /></th>
				<th class="xcol-md-3">Publisher</th>
				<th class="xcol-md-3">Submitter</th>              
				<th class="xcol-md-2">Identifier</th>   
                <th class="xcol-md-1"></th>          
			</tr>
		</thead>
                <tbody>
		<f:for each="{searchList}" as="entry">
		   <f:if condition="{dpf:inArray(needle:'{entry._source.PID}' array:'{alreadyImported}')}">
         <f:then><tr class="success"></f:then>	
         <f:else><tr></f:else>
       </f:if>  
                                                       
        <f:if condition="{entry._source._dissemination}">
          <f:then>          
    				<td>{entry._id}</td>
    				<td>{entry._source._dissemination._content.title.0}</td>
    				<td>{entry._source._dissemination._content.publisher.0}</td>
    				<td>{entry._source._dissemination._content.submitter}</td>
    				<td>{entry._source._dissemination._content.identifier.0}</td>
            <td class="table_col_function">
                    
            <f:if condition="{dpf:inArray(needle:'{entry._id}' array:'{alreadyImported}')}">
              <f:then>
                <f:link.action action="import" arguments="{documentObjectIdentifier : '', objectState: ''}" class="btn btn-sm btn-info disabled">                                   
                  Get 
                </f:link.action>
              </f:then>
              <f:else>                                                                
                  <f:link.action action="import" arguments="{documentObjectIdentifier : entry._source.PID, objectState: entry._source.STATE }" class="btn btn-sm btn-info  {f:if(condition: '{entry._type} == \'local\'', then: 'disabled')}">                                   
                    Get 
                </f:link.action>                   
              </f:else>                    
            </f:if>                                  
          </td> 
          </f:then>
          <f:else>
            <td>{entry._id}</td>
            <td>{entry._source.title.0}</td>
            <td>{entry._source.publisher.0}</td>
            <td>{entry._source.submitter}</td>
            <td>{entry._source.identifier.0}</td>
            <td class="table_col_function">
              <f:link.action action="import" arguments="{documentObjectIdentifier : '', objectState: ''}" class="btn btn-sm btn-info disabled">                                   
                Get 
              </f:link.action>
            </td>
          </f:else>                    
        </f:if>                                               
			</tr>
		</f:for>
                </tbody>
        </table>
        <center>
            <f:link.action id="next" controller="Search" action="nextResults">Mehr Ergebnisse</f:link.action> 
        </center>                           
</f:section>
