<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Backoffice"/>

<f:section name="main">

    <f:render partial="Workspace/UploadError" arguments="{message:message, errorFiles:errorFiles}"/>

    <f:render partial="Search/SearchControl" arguments="{searchList: searchList}"/>

    <f:flashMessages />

    <f:form action="search" name="query" class="">
        <div class="input-group mb-3">
            <f:form.textfield property="fulltext" class="form-control"
                              placeholder="{f:translate(key: 'search.form.label.query')}" id="query"
                              value="{simpleSearch}"/>
        </div>
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    {f:translate(key: 'search.form.button.search')}
                </button>
            </div>
        </div>
    </f:form>

    <f:render partial="Search/ListSearchResults" arguments="{_all}" />

</f:section>
