<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

{namespace dpf = EWW\Dpf\ViewHelpers}

<f:layout name="Backoffice"/>

<f:section name="main">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom sticky-top pt-3">
        <h1 class="h2">{f:translate(key: 'manager.document.suggestionDetails')}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="mr-2">
                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_SUGGESTION_ACCEPT')}">
                    <f:link.action
                            action="acceptSuggestion"
                            controller="Document"
                            arguments="{document:document, acceptAll:1}"
                            class="btn btn-sm btn-success">
                        <i class="fas fa-check-circle"></i>
                        {f:translate(key: 'form_button.acceptSuggest')}
                    </f:link.action>
                </f:if>

                <f:if condition="{dpf:isAccessGranted(subject:'{document}', attribute:'DOCUMENT_DELETE_LOCALLY')}">
                    <f:link.action
                            action="deleteLocally"
                            controller="Document"
                            arguments="{document:document, tstamp:document.tstamp}"
                            class="btn btn-sm btn-danger"
                            additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDeleteLocally'}">
                        <i class="fas fa-trash-alt"></i>
                        {f:translate(key: 'form_button.deleteLocallySuggestion')}
                    </f:link.action>
                </f:if>

                <f:link.action
                        action="cancelListTask"
                        controller="Document"
                        class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-times"></i>
                    {f:translate(key: 'form_button.cancel')}
                </f:link.action>
            </div>
        </div>
    </div>

    <f:flashMessages />

    <p>
        <f:link.action
                action="showDetails"
                controller="Document"
                arguments="{document:document.linkedUid}"
                class="btn btn-sm btn-secondary"
                additionalAttributes="{target: '_blank'}">
            <i class="far fa-file-alt"></i>
            {f:translate(key: 'form_button.showOriginalDocument')}
        </f:link.action>
    </p>

    {documentCreator}: <f:format.date date="{document.tstamp}" format="d.m.Y"/>

    <div class="card" style="margin-bottom:10px;">
        <div class="card-body">
            {f:translate(key: 'documentForm.suggestComment')}:<br/>
            <f:format.nl2br>
                {document.comment}
            </f:format.nl2br>
        </div>
    </div>

    <f:if condition="{document.transferStatus}=='RESTORE'">
        <div class="card" style="margin-bottom:10px;">
            <div class="card-body">
                {f:translate(key: 'documentForm.restoreDocument')}
            </div>
        </div>
    </f:if>

    <f:form controller="document" action="acceptSuggestion" name="test">
        <f:form.hidden name="document" value="{document}"/>
        <f:form.hidden name="acceptAll" value="0"/>
        <table class="table">
            <tr>
                <th>
                    {f:translate(key: 'manager.document.suggestionDetails.field')}
                </th>
                <th>
                    {f:translate(key: 'manager.document.suggestionDetails.before')}
                </th>
                <th>
                    {f:translate(key: 'manager.document.suggestionDetails.after')}
                </th>
            </tr>
            <f:for each="{diff.changed.old}" as="changedOld" iteration="iteratorChanged">
                <tr>
                    <td>
                        <f:if condition="{changedOld.displayName}">
                            <f:then>
                                {changedOld.displayName}:
                            </f:then>
                            <f:else>
                                {diff.changed.groupDisplayName}:
                            </f:else>
                        </f:if>
                    </td>
                    <td>{changedOld.value}</td>
                    <td>{diff.changed.new.{iteratorChanged.index}.value}</td>
                </tr>
            </f:for>

            <f:for each="{diff.added}" as="added" iteration="iteratorAdded">
                <f:if condition="{added}">
                    <tr>
                        <td>{added.displayName}:</td>
                        <td>-</td>
                        <td>
                            <f:if condition="{added.value}=='' && {f:count(subject: {added.items})}>0">
                                <f:then>
                                    <f:for each="{added.items}" as="item" iteration="iterator">
                                        {item.0.displayName}: <span style="color:#16ca16;">{item.0.value}</span><br/>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    {added.value}
                                </f:else>
                            </f:if>

                        </td>
                    </tr>
                </f:if>
            </f:for>

            <f:for each="{diff.deleted}" as="deleted" iteration="iteratorDeleted">
                <f:if condition="{deleted}">
                    <tr>
                        <td>{deleted.displayName}:</td>
                        <td>
                            <f:if condition="{deleted.value}=='' && {f:count(subject: {deleted.items})}>0">
                                <f:then>
                                    <f:for each="{deleted.items}" as="item" iteration="iterator">
                                        {item.0.displayName}: <span style="color:#ff0000;">{item.0.value}</span><br/>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    {deleted.value}
                                </f:else>
                            </f:if>
                        </td>
                        <td>-</td>
                    </tr>
                </f:if>
            </f:for>
        </table>

        <f:if condition="{document.file}">
            <div class="card" style="margin-bottom:10px;">
                <div class="card-body">
                    {f:translate(key: 'documentForm.newFiles')} <br/>
                    <f:for each="{document.file}" as="newFile" iteration="fileIterator">
                        <a href="{newFile.link}">{newFile.title}</a>
                    </f:for>
                </div>
            </div>
        </f:if>


    </f:form>

    <f:render partial="Document/ConfirmAction" arguments="{action: 'deleteLocally', suffix: 'suggestion'}" />

</f:section>