<ol class="dpf-search-results">
    <f:for each="{documents}" as="hit">
        <li class="dpf-search-result">
            <h3 class="dpf-search-result__title">
                <f:if condition="{hit._source.objectIdentifier}">
                    <f:then>
                        <a href="/id/{hit._source.objectIdentifier}">{hit._source.title -> f:array.first()}</a>
                    </f:then>
                    <f:else>
                        {hit._source.title -> f:array.first()}
                    </f:else>
                </f:if>
            </h3>
            <f:if condition="{hit._source.persons}">
                <p class="dpf-search-result__persons">{hit._source.persons -> f:array.first()}</p>
            </f:if>
            <p class="dpf-search-result__meta">
                <f:if condition="{docTypes.{hit._source.doctype}}">
                    <f:then>{docTypes.{hit._source.doctype}}</f:then>
                    <f:else>{hit._source.doctype}</f:else>
                </f:if>
                <f:if condition="{hit._source.year}">
                    &ndash; {hit._source.year}
                </f:if>
            </p>
        </li>
    </f:for>
</ol>
