{namespace dpf = EWW\Dpf\ViewHelpers}
<ol class="tx-dlf-listview-list">
    <f:for as="entry" each="{results}" iteration="eIterator">
        <f:if condition="{entry._source._dissemination}">
            <f:then>
                <li>
                    <dl>
                        <dd>
                            <dpf:calcindex currentindex="{eIterator.cycle}" currentpage="{currentPage}" itemsperpage="{settings.list.paginate.itemsPerPage}">
                            </dpf:calcindex>
                            .
                            <f:link.page absolute:1,="" action:\"mets\"}})}'="" additionalparams="{tx_dlf: {id: '{f:uri.page(pageUid:\" additionalparams:{tx_dpf:="" pageuid="{settings.landingPage}" {qid:\"{entry._source.pid}\",="" {settings.apipid}\",="" }="" }"="">
                                {entry._source._dissemination._content.title.0}
                                <f:if condition="{entry._source._dissemination._content.issue}">
                                    - {entry._source._dissemination._content.issue}
                                </f:if>
                            </f:link.page>
                        </dd>
                        <dd class="author">
                            <f:if condition="{entry._source._dissemination._content.distribution_date.0}">
                                <f:then>
                                    {entry._source._dissemination._content.author.0}
                                </f:then>
                            </f:if>
                        </dd>
                        <dd class="date">
                            <f:if condition="{entry._source._dissemination._content.distribution_date.0}">
                                <f:then>
                                    <f:format.date date="{entry._source._dissemination._content.distribution_date.0}" format="d.m.Y">
                                    </f:format.date>
                                </f:then>
                                <f:else>
                                    -
                                </f:else>
                            </f:if>
                        </dd>
                    </dl>
                </li>
            </f:then>
        </f:if>
    </f:for>
</ol>
