<f:form action="" name="documentData" object="{documentData}" enctype="multipart/form-data">
  <div id="new-element">
  <f:render partial="DocumentForm/Field" arguments="{
                        formPageUid:formPageUid,                       
                        formGroupUid:formGroupUid,
                        formGroupDisplayName: formGroupDisplayName,
                        groupItem:groupItem, 
                        groupIndex:groupIndex,
                        fieldItem: fieldItem,
                        formField:formField,
                        fieldIndex: fieldIndex
                        countries:countries}"/>
  </div>
</f:form>