<f:layout name="Default">
</f:layout>
This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
    <f:flashmessages rendermode="div">
    </f:flashmessages>
    <f:comment>
        <f:debug maxdepth="20" title="Form">
            {documentForm}
        </f:debug>
    </f:comment>
    <f:debug maxdepth="20" title="Form">
        {languages}
    </f:debug>
    <h2>
        <f:translate arguments="{foo: '{documentForm.displayName}'}" key="documentForm.edit.header">
        </f:translate>
    </h2>
    <f:render arguments="{documentForm:documentForm}" partial="DocumentForm/Edit">
    </f:render>
</f:section>