
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>{f:translate(key: 'documentForm.header.create')}</h1>

<f:flashMessages renderMode="div" />

<f:if condition="{success}">    
   <div class="alert alert-success" role="alert">
       <span class="glyphicon glyphicon glyphicon-fire pull-right"></span>
       <f:translate key="documentForm.create.ok" />
   </div>        
</f:if>


<f:if condition="{listtype}=='list'">

<table  class="tx_dpf" >
	<tr>
		<th>Titel</th>
		<th>Typ</th>
		<th> </th>
	</tr>

	<f:for each="{documents}" as="document">
		<tr>
			<td><f:link.action action="show" arguments="{document : document}"> {document.title}</f:link.action></td>
                        <td><f:link.action action="show" arguments="{document : document}"> {document.documentType.displayName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{document : document}">bearbeiten</f:link.action></td>
			<td><f:link.action action="delete" arguments="{document : document}">löschen</f:link.action></td>
		</tr>
	</f:for>
</table>
  
</f:if>  

<f:for each="{documentTypes}" as="documentType">  
  <f:link.action action="new" arguments="{documentType:documentType.uid}">{documentType.displayName}</f:link.action>
  <br />
</f:for>

</f:section>