
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Dokumentenliste</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_dpf" >
	<tr>
		<th>ID<f:translate key="tx_dpf_domain_model_document.uid" /></th>
		<th>Dokument-Typ</th>
		<th> </th>
	</tr>

	<f:for each="{documents}" as="document">
		<tr>
			<td><f:link.action action="show" arguments="{document : document}"> {document.uid}</f:link.action></td>
                        <td><f:link.action action="show" arguments="{document : document}"> {document.documentType.displayName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{document : document}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{document : document}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:for each="{documentTypes}" as="documentType">
  <br />
  <f:link.action action="new" arguments="{documentType:documentType.uid}">{documentType.displayName} anlegen</f:link.action>
</f:for>

</f:section>