<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages />
    <h2>
        <f:translate key="documentForm.new.header" arguments="{0: '{documentForm.displayName}'}"/>
    </h2>

    <f:form action="create" class="document-form-main" id="new-document-form" name="documentData" object="{documentData}" enctype="multipart/form-data" noCacheHash="TRUE">
        <f:form.hidden id="csrfToken" property="csrfToken" value="{documentForm.csrfToken}"/>
        <f:form.hidden property="type" value="{documentForm.uid}"/>
        <f:form.hidden id="reservedFedoraPid" property="reservedFedoraPid" value=""/>
        <f:form.hidden id="fedoraPid" property="fedoraPid" value=""/>
        <f:form.hidden id="primaryUrn" property="primaryUrn" value="{documentForm.primaryUrn}"/>
        <f:render partial="DocumentForm/FormBody" arguments="{_all}"/>
    </f:form>

    <f:form action="cancel" name="cancelData" object="{}" enctype="multipart/form-data" noCacheHash="TRUE">
        <f:form.button name="cancel" id="cancel" class="btn btn-sm btn-outline-secondary">
            <i class="fas fa-times"></i>
            {f:translate(key: 'form_button.cancel')}
        </f:form.button>
    </f:form>

</f:section>

