
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Document Form</h1>

<f:flashMessages renderMode="div" />

<f:debug title="Form" maxDepth="20">{documentForm}</f:debug>


<h2>{documentForm.displayName}</h2>

<f:form action="create" name="newDocument" object="{newDocument}" enctype="multipart/form-data">
  <f:form.hidden property="type" value="{documentForm.uid}" />
  <f:render partial="DocumentForm/FormBody" arguments="{documentForm:documentForm}"/>
</f:form>

</f:section>