<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages renderMode="div" />
    <f:comment>
        <f:debug title="Form" maxDepth="20">{documentForm}</f:debug>
    </f:comment>
    <h2><f:translate key="documentForm.new.header" arguments="{foo: '{documentForm.displayName}'}" /></h2>
    <f:render partial="DocumentForm/New" arguments="{documentForm:documentForm}"/>
</f:section>