<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}


<f:render partial="Workspace/UploadError" arguments="{message:message}"/>

<f:if condition="{client}">
    <f:render partial="Workspace/Header" arguments="{
        isWorkspace:isWorkspace,
        isHideDiscarded:isHideDiscarded,
        isBookmarksOnly: isBookmarksOnly}"/>

    <f:flashMessages />

    <f:form id="batchForm" action="batch" name="batch" object="{listData}" enctype="multipart/form-data">

    <f:render partial="Workspace/List" arguments="{
            documents:documents,
            workspaceListAction:workspaceListAction,
            aggregations:aggregations,
            filters:filters,
            checkedDocumentIdentifiers: checkedDocumentIdentifiers,
            bookmarkIdentifiers: bookmarkIdentifiers
        }"
    />

    <div class="workspace-batch-operations">

        <button class="btn btn-sm btn-light workspace-select-toggle workspace-select-all" style="display:none;"
           title="{f:translate(key: 'manger.workspace.batch.selectToggleAll', default: 'Auswahl aufheben')}" data-toggle="tooltip"
        >
            <i class="far fa-check-square dpf-fa-check-color"></i>
        </button>
        <button class="btn btn-sm btn-light workspace-select-toggle workspace-unselect-all" style="display:none;"
           title="{f:translate(key: 'manger.workspace.batch.selectToggleAll', default: 'Alle auswählen')}" data-toggle="tooltip"
        >
            <i class="far fa-square dpf-fa-check-color"></i>
        </button>


        <a href="#" id="workspaceButtonBatchRegister" class="btn btn-sm btn-secondary disabled">
            {f:translate(key: 'manger.workspace.batch.buttonRegister', default: 'Eingestellte melden')}
        </a>
        <f:form.hidden
                id="workspaceActionBatchRegister"
                class="workspaceAction"
                name="listData[action]"
                value="batchRegister"
                additionalAttributes="{disabled:'disabled'}"
        />

        <a href="#" id="workspaceButtonBatchExport" class="btn btn-sm btn-secondary disabled">
            {f:translate(key: 'manger.workspace.batch.buttonExport', default: 'Exportieren')}
        </a>

        <f:if condition="{isWorkspace}">
            <f:then>
                <a href="#" id="workspaceButtonBatchRemove" class="btn btn-sm btn-secondary disabled">
                    {f:translate(key: 'manger.workspace.batch.buttonRemove', default: 'Aus "Arbeitsbereich" entfernen')}
                </a>
                <f:form.hidden
                        id="workspaceActionBatchRemove"
                        class="workspaceAction"
                        name="listData[action]"
                        value="batchRemove"
                        additionalAttributes="{disabled:'disabled'}"
                />

                <a href="#" id="workspaceButtonBatchReleaseValidated" class="btn btn-sm btn-secondary disabled">
                    {f:translate(key: 'manger.workspace.batch.buttonReleaseValidated', default: ' Freigeben und validieren')}
                </a>
                <f:form.hidden
                        id="workspaceActionBatchReleaseValidated"
                        class="workspaceAction"
                        name="listData[action]"
                        value="batchReleaseValidated"
                        additionalAttributes="{disabled:'disabled'}"
                />

                <a href="#" id="workspaceButtonBatchReleaseUnvalidated" class="btn btn-sm btn-secondary disabled">
                    {f:translate(key: 'manger.workspace.batch.buttonReleaseUnvalidated', default: 'Freigeben und nicht validieren')}
                </a>
                <f:form.hidden
                        id="workspaceActionBatchReleaseUnvalidated"
                        class="workspaceAction"
                        name="listData[action]"
                        value="batchReleaseUnvalidated"
                        additionalAttributes="{disabled:'disabled'}"
                />
            </f:then>
        </f:if>
    </div>

    </f:form>

    <p class="text-center">
        <dpf:showDocumentCounter documentCount="{documentCount}" currentPage="{currentPage}" itemsPerPage="{itemsPerPage}" />
    </p>

    <f:if condition="{pages.{itemsPerPage}}">
        <f:render partial="Workspace/Pagination" arguments="{
            workspaceListAction:workspaceListAction,
            pages:pages,
            itemsPerPage:itemsPerPage,
            maximumNumberOfLinks:maximumNumberOfLinks}"
        />
    </f:if>

</f:if>

<f:render partial="Document/ConfirmAction" arguments="{action: 'deleteLocally'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'discard', reasonRequired: '1'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'releasePublish'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'activate'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'inactivate'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'restore'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'delete'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'postpone', reasonRequired: '1'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'register'}" />

<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchRegister'}" />
<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchRemove'}" />
<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchReleaseValidated'}" />
<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchReleaseUnvalidated'}" />
<f:render partial="Workspace/ConfirmRemoveBookmark" />