<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:if condition="{dpf:inArray(needle:'{document._id}', array:'{bookmarkIdentifiers}')}">
    <a href="#" class="remove-bookmark"
       title="Bookmark entfernen" data-toggle="tooltip"
       data-id="{document._id}"
       data-ajaxURL="{}">
        <i class="fas fa-backspace"></i>
    </a>
</f:if>