<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<f:render partial="Workspace/UploadError" arguments="{message:message, errorFiles:errorFiles}"/>

<f:if condition="{client}">
    <f:render partial="Workspace/Header" arguments="{
        isWorkspace:isWorkspace,
        isHideDiscarded:isHideDiscarded,
        isBookmarksOnly: isBookmarksOnly}"/>

    <f:flashMessages />

    <f:form id="batchForm" action="batch" name="batch" object="{listData}" enctype="multipart/form-data"
            additionalAttributes="{data-workspace-list-action:'{f:uri.action(action:\'listWorkspace\', controller:\'Workspace\')}'}">

    <f:render partial="Workspace/List" arguments="{
            documents:documents,
            workspaceListAction:workspaceListAction,
            aggregations:aggregations,
            filters:filters,
            checkedDocumentIdentifiers: checkedDocumentIdentifiers,
            bookmarkIdentifiers: bookmarkIdentifiers,
            currentFisPersId: currentFisPersId,
            personGroup: personGroup,
            personGroupIndex: personGroupIndex
        }"
    />

        <f:render partial="Workspace/BatchActions" />

    </f:form>

    <f:if condition="{documentCount}">
        <f:then>
            <f:if condition="{pages.{itemsPerPage}}">
                <f:render partial="Workspace/Pagination" arguments="{
                    workspaceListAction:workspaceListAction,
                    pages:pages,
                    itemsPerPage:itemsPerPage}"
                />
            </f:if>

            <p class="text-center">
                <div class="form-inline justify-content-center">
                    <dpf:showDocumentCounter documentCount="{documentCount}" currentPage="{currentPage}" itemsPerPage="{itemsPerPage}" />
                    {f:translate(key: 'manager.workspace.itemsPerPage')}
                    <div class="input-group mx-sm-2" style="width:100px;">
                        <div class="input-group-prepend">
                            <button id="items-down" class="btn btn-outline-secondary btn-sm" type="button">-</button>
                        </div>
                        <input id="items-per-page" type="text" class="form-control form-control-sm" value="{itemsPerPage}" aria-label="Items per page">
                        <div class="input-group-append">
                            <button id="items-up" class="btn btn-outline-secondary btn-sm" type="button">+</button>
                        </div>
                    </div>
                    <div class="input-group">
                        <button id="items-per-page-save"
                                class="btn btn-outline-secondary btn-sm"
                                type="button"
                                data-ajax="{f:uri.action(action:'setWorkspaceItemsPerPage',controller:'AjaxBackoffice',pageType:settings.ajaxTypeNum)}">
                            OK
                        </button>
                    </div>
                </div>
            </p>
        </f:then>
    </f:if>

</f:if>

<f:render partial="Document/ConfirmAction" arguments="{action: 'deleteLocally', destructiveAction: '1'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'discard', reasonRequired: '1', destructiveAction: '1'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'releasePublish'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'activate'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'inactivate', destructiveAction: '1'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'restore'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'delete', destructiveAction: '1'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'postpone', reasonRequired: '1', destructiveAction: '1'}" />
<f:render partial="Document/ConfirmAction" arguments="{action: 'register'}" />

<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchSetInProgress'}" />
<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchRegister'}" />
<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchRemove', destructiveAction: '1'}" />
<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchReleaseValidated'}" />
<f:render partial="Workspace/ConfirmBatchAction" arguments="{action: 'batchReleaseUnvalidated'}" />
<f:render partial="Workspace/ConfirmRemoveBookmark" />
