/**
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */


/*
 *
 * Global CSS styles for frontend and backend view
 *
 */


/* -- import boostrap basics also to frontend -------------------------------------------- */

@import "bootstrap/bootstrap.min.css";
@import "bootstrap/dashboard.css";
@import "bootstrap-datetimepicker.min.css";

/* -- redesigning tabs to sticky nav ----------------------------------------------------- */

#content .tx-dpf-tab-container {
    position: absolute;
    top: -53px;
    z-index: 3000;
}

/*
#content .tx-dpf-tab-container.sticky {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3000;
}
*/

#content .tx-dpf-tabs {
    position: relative;
    background: #eee;
    background: rgba(255, 255, 255, 0.9);
    width: 580px;
    border-radius: 0 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    padding: 12px;
}

#content .tx-dpf-tab-container.sticky .tx-dpf-tabs {
    top: 63px;
    left: 101px;
    margin: 0 auto;
}

#content .tx-dpf-tabs li {
    border: 0 none;
    padding: 0;
}

#content .tx-dpf-tabs li a {
    padding: 5px 8px;
    border: 0 none;
    border-radius: 4px;
}

#content .tx-dpf-tabs li a.current {
    background: #eee;
    border: 0 none;
}

#content form .tab-content {
    padding-top: 1px;
}

/* -- basic setup ------------------------------------------------------------------------ */

.tx-dpf .hidden {
    display: none;
}

.tx-dpf {
    position: relative;
}

.tx-dpf h2 {
     display: none;
}

.tx-dpf .document-type-list h2 {
    font-size: 1.5rem;
    display: block;
}

#h2-h2 {
    display: block;
}

.tx-dpf .css-panes {
    border-bottom: 1px solid #e5e5e5;
    min-height: 200px;
}

.tx-dpf-tabs a.current, .tx-dpf-tabs a.current:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight: 700;
}


.form-group .ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.gnd-autocomplete {
    background-color: white;
}

.gnd-autocomplete:hover {
    background-color: #ebebeb;
}

.gnd-type {
    font-size: 11px;
}

/* -- form setup ------------------------------------------------------------------------- */

.tx-dpf .form-container {
    position: relative;
}

.tx-dpf fieldset {
    margin: 50px 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}

.tx-dpf fieldset legend {
    font-size: 14px;
    font-weight: 700;
    color: #666;
    margin-bottom: 20px;
}

.tx-dpf fieldset .group-info-text {
    margin: 0 0 10px 0;
}

.tx-dpf fieldset .field-info-text {
    margin: 0 0 10px 0;
}

.tx-dpf .document-form-main .input-group {
    margin-bottom: 1em;
}


.tx-dpf .document-form-main .form-group {
    position: relative;
    display: table;
}

.tx-dpf .fe-form-group {
    position: relative;
    display: inline-block;
}

.tx-dpf .document-form-main .form-group label, .tx-dpf .form-group .form-control {
    display: table-cell;
}

.tx-dpf .document-form-main .form-group label {
    width: 1%;
    background: #eee;
    border: 1px solid #ccc;
    border-right-width: 0;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    color: #666;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1;
}

.tx-dpf .form-metadata-import .form-group label {
    border: none;
    padding: 0;
    display: inline-block;
}

.tx-dpf .document-form-main .form-group .form-control.has-select {
    border-color: #eee #eee #eee #ccc;
    box-shadow: none;
}

.tx-dpf .document-form-main .form-group .form-control select {
    width: 30%;
    height: 20px;
    font-size: .9em;
    padding: 0;
}

.tx-dpf .document-form-main .form-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0 4px 4px 0;
}

.tx-dpf .document-form-main .form-group .form-control-consent {
    width: 1.5em;
}
.tx-dpf .document-form-main .form-group-consent {
    display: table;
}

.tx-dpf .document-form-main .form-group-consent label {
    background: none;
    border: none;
    width: auto;
}


.tx-dpf .document-form-main .form-group-consent .alert {

}

.tx-dpf .form-metadata-import .form-group .form-control {
    border-radius: 4px;
}

.tx-dpf .document-form-main .form-group .input_file_upload {
    width: auto;
}

.tx-dpf .document-form-main .form-group .file-input-toggle {
    float: left;
}

.tx-dpf .document-form-main .form-group button.rem_field, .tx-dpf .form-container button.add_field, .tx-dpf .form-container button.fill_out_service_urn {
    position: absolute;
    bottom: 4px;
    right: 33px;
    width: 26px;
    height: 26px;
    padding: 0;
    z-index: 10;
}

.tx-dpf .form-container button.fill_out_service_urn {
    right: 5px;
}

.tx-dpf .form-container button.add_field {
    right: 4px;
}

.hasDatepicker button.add_field {
    right: 44px !important;
}

.hasDatepicker button.rem_field {
    right: 73px !important;
}




.tx-dpf .form-container button:active {
    bottom: 3px;
    top: auto;
}

.tx-dpf .form-user-configuration .form-group input {
    width: 33%;
}

.tx-dpf .form-user-configuration fieldset {
    border: none;
    margin: 20px 0;
    padding-bottom: 5px;
}

.tx-dpf button.add_group, .tx-dpf button.add_file_group {
    position: absolute;
    margin: -60px 0 0 15px;
    right: 15px;
}

.tx-dpf button.rem_group {
    color: #c00;
    line-height: 1;
    width: 24px;
    height: 24px;
    padding: 3px 4px;
    margin-bottom: 6px;
}

.tx-dpf .input-group input[type="file"] {
    height: auto;
   /* display: inline-block; */
    width: auto;
    margin: 0;
    border: 1px solid #ced4da;
}

.tx-dpf input[type="file"] {
    border: 0 none;
    margin-bottom: 15px;
    height: 36px;
    display: inline-block;
    width: auto;
}

.tx-dpf .unselect-licence {
    margin-bottom: 10px;
    color: #ffffff;
}

.tx-dpf .unselect-licence:hover {
    color: #ffffff;
}


.tx-dpf textarea {
    resize: vertical;
    min-height: 220px;
}

.tx-dpf .fs_file_group .form-control-static {
    margin-bottom: 15px;
}

.tx-dpf .fs_file_group .form-control-static .file_link {
    margin-right: 10px;
}

.tx-dpf .rem_file_group {
    margin-left: 10px;
}

.prev-next-buttons {
    padding-bottom: 100px;
}

.prev-next-buttons .btn {
    float: right;
    margin-left: 10px;
}

.form-submit {
    padding-top: 20px;
}

.form-submit .btn-lg {
    margin: -9px 0 0 5px;
    padding: 8px 12px;
    font-size: 12px;
    float: right;
}

#form_delete {
    float: left;
}

#form_cancel {
    float: right;
}

.tx-dpf ol li {
    list-style: none;
}

.tx-dpf .document-type-list ol {
    padding-left: 0 !important;
}

.btn-edit-discard {
    margin-left: 10px;
    color: #ffffff;
}

.btn-edit-discard:hover {
    color: #ffffff;
}

.btn-warning {
    color: #ffffff;
}

.btn-warning:hover {
    color: #ffffff;
}


.tx-dpf .dropdown-options .dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.tx-dpf .dropdown-options .dropdown-options-toggle {
    margin-bottom: 0;
    display: table;
}

ul[id^='ui-id-'].ui-autocomplete  {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

ul[id^='ui-id-'] {
    background-color: #ffffff;
    color: #555555;
    border-radius: 0 0 4px 4px;
    border: 1px;
    border-color: #aaaaaa;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 170, 170, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(170,170,170,0.6);
}

ul[id^='ui-id-'] .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background-color: #5A95F6;
    color: #ffffff;
}


.suggestion-file-info {
    margin: 50px 0 -30px 0;
}

/* -- form-upload-import-file ---------------------------------------------------------------------- */

.custom-file-input ~ .custom-file-label:lang(de)::after {
    content: "Durchsuchen";
}

/* -- details page ---------------------------------------------------------------------- */

.details-view ul,
.details-view li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.details-view .details-group {
    margin: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}


.details-view .details-group-name {
    font-size: 18px;
    font-weight: 700;
    color: #666;
    margin-bottom: 10px;
    display: block;
}

.details-view .details-field-name {
    padding: 0 0px;
    color: #666;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
}


/* -- error handling -------------------------------------------------------------------- */

select.invalid-error, textarea.invalid-error, input.invalid-error, select.mandatory-error, textarea.mandatory-error, input.mandatory-error {
    border: 1px solid #c00!important;
}

li a.invalid-error, li a.mandatory-error {
    color: #c00!important;
}

li a.invalid-error:after, li a.mandatory-error:after {
}

.frontend-search-form input[type="text"] {
    width: 450px !important;
}

dd.author {
    float: left;
}

dd.date {
    float: right;
}

.f3-widget-paginator {
    display: inline-block;
    width: 100%;
}

.f3-widget-paginator li {
    float: left;
}

.f3-widget-paginator li.next {
    float: right;
}

.f3-widget-paginator li.previous {
    padding-right: 10px;
}

ul.error-files-backbutton {
    margin: 10px 0 10px 0 !important;
}

ul.error-files-backbutton li {
    list-style: disc;
    margin-left: 13px;
}


.typo3-messages {
    padding: 0;
}

.typo3-messages li {
    list-style: none;
}

.typo3-messages p.alert-message {
    margin: 0;
}

.alert p:last-child {
    margin-bottom: 0;
}

.alert i,
.file-error i {
    line-height: unset;
    margin-right: 10px;
}

.alert ul,
.file-error ul {
    padding-left: 0;
    margin: 0;
}

.file-error li {
    list-style: none;
}
    /* -- search form--------------------------------------------------- */

#tx-dpf-backoffice.document-manager .searchForm .form-group {
    display: inline-block;
}

#tx-dpf-backoffice.document-manager .searchForm .main-search-fields {
    margin: 10px 0 10px 0;
}

#tx-dpf-backoffice.document-manager .searchForm label {
    display: none;
}

#tx-dpf-backoffice.document-manager .searchForm label.show-label {
    display: inline;
    background: none;
    border: none;
    width: auto;
    margin: 0;
    padding: 10px 0 0 0;
}

#tx-dpf-backoffice.document-manager .searchForm #showDeleted {
    width: 2em;
    margin: 0;
}

#tx-dpf-backoffice.document-manager div.searchForm div.container {
  width: 100%;
}

#tx-dpf-backoffice.document-manager div.searchForm div.container .form-control {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#tx-dpf-backoffice.document-manager div.searchForm .form-inline {
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px !important;
    }
}

@media only screen and (min-width: 23em) {
    #tx-dpf-backoffice.document-manager div.searchForm div.container .col-md-6 {
    padding: 0px;
  }
}
@media only screen and (min-width: 60em) {
    #tx-dpf-backoffice.document-manager div.searchForm div.container .col-md-6:nth-child(2) {
    padding: 0px 0px 0px 3px;
  }
}
/* EOF */
