.table-manager {  
  /* width: auto; */
}

.tx-dpf {
  width: 95%;
  margin-left: 2%;
}

.table_col_function {
  text-align: right;  
}

.tx-dpf .typo3-messages {
  margin: 20px 0 20px 0;
}


.tx-dpf .manager-menu {
  margin: 20px 0 20px 0;  
}


.tx-dpf .client {
  padding: 10px 10px 10px 10px;
}