.table-manager {  
  /* width: auto; */
}

.tx-dpf {
  width: 95%;
  margin-left: 2%;
}

.table_col_function {
  text-align: right;  
}

.tx-dpf .typo3-messages {
  margin: 20px 0 20px 0;
}


.tx-dpf .manager-menu {
  margin: 20px 0 20px 0;  
}


.tx-dpf .client {
  padding: 10px 10px 10px 10px;
}

.searchForm {
    padding-bottom: 10px;
}

.tx-dpf .table_col_function a {
    text-decoration: none;
}


.tx-dpf .tx-dpf-table-doublet {
    margin-top: 30px;    
}

.tx-dpf .doublet-message td{
    padding: 20px 5px 20px 5px;
    font-weight: bold;
}


/* Initialize Client Module */

.tx-dpf form#new-client label {
    width: 100px;
}

tx-dpf form#new-client input {
    float: none;
    display: block;
}    

.tx-dpf form#new-client label { 
    float: none;
    display: block;   
    width: auto;
    margin: 10px 0 0 0;
}    