/**
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */
 

/*
 *
 * Special rewrites for backend display of input forms
 *
 */


/* -- basic setup ------------------------------------------------------------------------ */

body {
    background: #fff;
    padding-top: 49px;
    margin-bottom: 100px;
}

.tx-dpf {
    padding: 24px;
}

.tx-dpf:before {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 49px;
    background: #585858;
    border-bottom: 22px solid #dadada;
    content: "";
    z-index: 100;
}

.tx-dpf h2 {
    font-family: Share, Verdana, Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #555;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
}


/* -- form setup ------------------------------------------------------------------------- */

.tx-dpf .css-panes {
    margin-bottom: 20px;
}

.tx-dpf fieldset {
    margin: 40px 0;
}

.tx-dpf fieldset legend {
    font-size: 21px;
    font-family: Share, Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #666;
    margin-bottom: 20px;
}

.tx-dpf button.add_group, .tx-dpf button.add_file_group {
    position: relative;
    margin-top: -104px;
    right: auto;
}

.form-submit {
    padding-top: 0;
}

.form-submit .btn-lg {
    margin: -9px 0 0 10px;
    padding: 10px 16px;
    font-size: 18px;
}

.form-submit, .form-submit button {
    float: right;
}

.tx-dpf button .glyphicon {
    top: 1px;
}

.tx-dpf h3.documentform {
    color: #666666;
    font-family: Share,Verdana,Arial,Helvetica,sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
}

.tx-dpf .dropdown-options .dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.tx-dpf .dropdown-options .dropdown-options-toggle {
    margin-bottom: 0;
    display: table;
}


ul[id^='ui-id-'].ui-autocomplete  {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

ul[id^='ui-id-'] {
    background-color: #ffffff;
    color: #555555;
    border-radius: 0 0 4px 4px;
    border: 1px;
    border-color: #aaaaaa;

    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 170, 170, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(170,170,170,0.6);
}

ul[id^='ui-id-'] .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background-color: #5A95F6;
    color: #ffffff;
}
/* EOF */