/*
 *
 * Global CSS styles for frontend and backend view
 *
 */



/* -- import boostrap basics also to frontend -------------------------------------------- */
@import "bootstrap.min.css";
@import "bootstrap-datetimepicker.min.css";



/* -- redesigning tabs to sticky nav ----------------------------------------------------- */
#content .tx-dpf-tab-container {
	position:absolute;
	top:15px;
	right:-90px;
}

#content .tx-dpf-tab-container.sticky {
	position:fixed;
	right:0;
	left:0;
	z-index:3000;
}

#content .tx-dpf-tabs {
	position:relative;
	background:#eee;
	background:rgba(255,255,255,0.9);
	width:600px;
	border-radius:0 15px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.25);
	padding:12px;
}

#content .tx-dpf-tab-container.sticky .tx-dpf-tabs {
	left:125px;
	margin:0 auto;
}

#content .tx-dpf-tabs li {
	border:0 none;
	padding:0;
}

#content .tx-dpf-tabs li a {
	padding:5px 10px;
	border:0 none;
	border-radius:4px;
}

#content .tx-dpf-tabs li a.current {
	background:#eee;
	border:0 none;
}



/* -- basic setup ------------------------------------------------------------------------ */
.tx-dpf {
	position:relative;
	padding-top:60px;
}

.tx-dpf h2 {
  display: none;
}

.tx-dpf .css-panes {
	border-bottom:1px solid #e5e5e5;
	min-height:200px;
}

.tx-dpf-tabs a.current,.tx-dpf-tabs a.current:focus {
	color:#555;
	cursor:default;
	background-color:#fff;
	border:1px solid #ddd;
	border-bottom-color:transparent;
	font-weight:700;
}



/* -- form setup ------------------------------------------------------------------------- */
.tx-dpf .form-container {
	position:relative;
}

.tx-dpf fieldset {
	margin:50px 0;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:5px;
}

.tx-dpf fieldset legend {
	font-size:14px;
	font-weight:700;
	color:#666;
	margin-bottom:20px;
}

.tx-dpf fieldset .group-info-text {
    margin: 0 0 10px 0;
}

.tx-dpf .form-group {
	position:relative;
	display:table;
}

.tx-dpf .form-group label,.tx-dpf .form-group .form-control {
	display:table-cell;
}

.tx-dpf .form-group label {
	width:1%;
	background:#eee;
	border:1px solid #ccc;
	border-right-width:0;
	border-radius:4px 0 0 4px;
	padding:0 10px;
	color:#666;
	white-space:nowrap;
	vertical-align:middle;
	line-height:1;
}

.tx-dpf .form-group .form-control.has-select {
	border-color:#eee #eee #eee #ccc;
	box-shadow:none;
}

.tx-dpf .form-group .form-control select {
	width:30%;
	height:20px;
	font-size:.9em;
	padding: 0;
}

.tx-dpf .form-group .form-control {
	position:relative;
	z-index:2;
	float:left;
	width:100%;
	margin-bottom:0;
	border-radius:0 4px 4px 0;
}


.tx-dpf .form-group button.rem_field,.tx-dpf .form-container button.add_field,.tx-dpf .form-container button.fill_out_service_urn {
	position:absolute;
	bottom:4px;
	right:33px;
	width:26px;
	height:26px;
	padding:0;
	z-index:10;
	color:#666;
}

.tx-dpf .form-container button.fill_out_service_urn {
   right:66px;
}

.tx-dpf .form-container button.add_field {
	right:4px;
}

.hasDatepicker button.add_field {
    right: 44px !important; 
}

.hasDatepicker button.rem_field {
    right: 73px !important; 
}


.tx-dpf .form-container button:active {
	bottom:3px;
	top:auto;        
}

.tx-dpf button.add_group,.tx-dpf button.add_file_group {
	position:absolute;
	margin:-60px 0 0 15px;
	right:15px;
}

.tx-dpf button.rem_group {
	color:#c00;
	line-height:1;
	width:24px;
	height:24px;
	padding:3px 4px;
	margin-bottom:6px;
}

.tx-dpf .rem_secondary_upload {
        color:#c00;
	line-height:1;
	width:24px;
	height:24px;
	padding:3px 4px;
	margin-bottom:10px;
}

.tx-dpf input[type="file"] {
	border:0 none;
	margin-bottom:15px;
	height:36px;
        display: inline-block;
}

.tx-dpf textarea {
    resize: vertical;
    min-height: 220px;
}

.tx-dpf .fs_file_group .form-control-static {
	margin-bottom:15px;
}

.tx-dpf .fs_file_group .form-control-static .file_link {
	margin-right:10px;
}

.form-submit {
	padding-top:20px;
}

.form-submit .btn-lg {
	margin:-9px 0 0 5px;
	padding:8px 12px;
	font-size:12px;
	float:right;
}

#form_delete {
	float:left;
}

.tx-dpf button .glyphicon {
	top:0;
	left:1px;
}



/* -- error handling -------------------------------------------------------------------- */
select.invalid-error,textarea.invalid-error,input.invalid-error, 
select.mandatory-error,textarea.mandatory-error,input.mandatory-error {
	border:1px solid #c00!important;
}

li.a.invalid-error,
li a.mandatory-error {
	color:#c00!important;
}

li.a.invalid-error:afer,
li a.mandatory-error:after {
	content:"\e104";
	font-family:'Glyphicons Halflings';
	margin-left:3px;
	line-height:1;
}



/* EOF */