<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace eww=EWW\Dpf\ViewHelpers}

<label for="inp_{fieldItem.uid}" data-index="{fieldIndex}" data-field="{fieldItem.uid}">{fieldItem.displayName}
    <f:if condition="{fieldItem.helpTextShort}">
        <a data-toggle="collapse" href="#collapse{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}">
                <span data-toggle="tooltip" title="" data-original-title="{fieldItem.helpTextShort}">
                    <i class="fas fa-question-circle"></i>
                </span>
        </a>
    </f:if>
    <f:if condition="{fieldItem.mandatory}">
        <span class="mandatory" data-index="{fieldIndex}" data-field="{fieldItem.uid}">*</span>
    </f:if>
</label>
