{namespace s=SJBR\StaticInfoTables\ViewHelpers}
             
<label class="{f:if(condition:'{fieldItem.inputField}==5',then:'label-checkbox',else:'label')}" data-index="{fieldIndex}" data-field="{fieldItem.uid}">{fieldItem.displayName}</label><f:if condition="{fieldItem.mandatory}"><span class="mandatory" data-index="{fieldIndex}" data-field="{fieldItem.uid}">*</span></f:if>  

<f:if condition="{fieldItem.fillOutService} == 'urn'"> 
    <f:then>
        <f:if condition="{fieldIndex} == 0"> 
            <input type="submit" value="{f:translate(key: 'form_button.add_item', arguments: {0: fieldItem.displayName})}"
                       name="fill_out_service_urn" class="fill_out_service_urn"
                       data-field="{fieldItem.uid}"
                       data-ajax="{f:uri.action(
                            action:'fillOut',
                            controller:'AjaxDocumentForm',
                            pageType:110124
                          )}"
                       data-index="{fieldIndex}" /> 
        </f:if> 
   </f:then>     
 </f:if>

<f:switch expression="{fieldItem.inputField}">
   <f:case value="0"><f:form.textfield property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="{fieldItem.value}" class="input-field" additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory}"/></f:case>                         
   <f:case value="1"><f:form.textarea  property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="{fieldItem.value}" class="input-field" additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory}"/></f:case>                                         
   <f:case value="2">
     <f:form.select property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="{fieldItem.value}" class="input-field input-field-select" additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory}" options="{fieldItem.inputOptions}" />
   </f:case> 
   <f:case value="3">
     <f:form.checkbox property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="yes" class="input-field input-field-checkbox" additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory}"  checked="{fieldItem.value}" />     
   </f:case> 
</f:switch>
    
 <f:if condition="{fieldIndex}">
        <input type="submit" value="{fieldItem.displayName} entfernen" name="rem_field" class="rem_field" data-index="{fieldIndex}" data-field="{fieldItem.uid}"/>
 </f:if>
    
<f:form.validationResults>
  <f:if condition="{validationResults.flattenedErrors}">
    

    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
    {propertyPath}
        <f:for each="{errors}" as="error">
        {error.code}: {error}
        </f:for> 
    </f:for> 


  </f:if>
</f:form.validationResults>

 