{namespace s=SJBR\StaticInfoTables\ViewHelpers}
{namespace eww=EWW\Dpf\ViewHelpers}
<div class="form-group">
    <label data-field="{fieldItem.uid}" data-index="{fieldIndex}" for="inp_{fieldItem.uid}">
        {fieldItem.displayName}
        <f:if condition="{fieldItem.mandatory}">
            <span class="mandatory" data-field="{fieldItem.uid}" data-index="{fieldIndex}">
                *
            </span>
        </f:if>
    </label>
    <f:if condition="{fieldItem.dataType}=='DATE'">
        <div class="datetimepicker input-group date">
        </div>
    </f:if>
    <f:if condition="{fieldItem.fillOutService} == 'urn'">
        <f:then>
            <button class="btn btn-default fill_out_service_urn" data-ajax="{f:uri.action(
                            action:'fillOut',
                            controller:'AjaxDocumentForm',
                            pageType:110124                            
                          )}" data-field="{fieldItem.uid}" data-group="{formGroupUid}" data-groupindex="{groupIndex}" data-index="{fieldIndex}" name="fill_out_service_urn" style="display: none;" title="{f:translate(key: 'form_button.create_value')} URN" type="submit">
                <span class="glyphicon glyphicon-edit">
                </span>
                <span class="sr-only">
                    {f:translate(key: 'form_button.create_value')} URN"
                </span>
            </button>
        </f:then>
    </f:if>
    <f:switch expression="{fieldItem.inputField}">
        <f:case value="0">
            <f:form.textfield additionalattributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}" class="input-field form-control {fieldItem.fillOutService}" id="inp_{fieldItem.uid}" property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="{fieldItem.value}">
            </f:form.textfield>
        </f:case>
        <f:case value="1">
            <f:form.textarea additionalattributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}" class="input-field form-control {fieldItem.fillOutService}" id="inp_{fieldItem.uid}" property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="{fieldItem.value}">
            </f:form.textarea>
        </f:case>
        <f:case value="2">
            <div class="form-control has-select">
                <f:form.select additionalattributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}" class="form-control input-field {fieldItem.fillOutService}" id="inp_{fieldItem.uid}" options="{fieldItem.inputOptions}" property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="{fieldItem.value}">
                </f:form.select>
            </div>
        </f:case>
        <f:case value="3">
            <eww:isconsentfield condition="{fieldItem.consent}">
                <f:then>
                    <f:form.checkbox additionalattributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}" checked="{fieldItem.value}" class="input-field form-control input-field-checkbox" disabled="true" id="inp_{fieldItem.uid}" property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="yes">
                    </f:form.checkbox>
                    <f:form.hidden property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="{fieldItem.value}">
                    </f:form.hidden>
                </f:then>
                <f:else>
                    <f:form.checkbox additionalattributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}" checked="{fieldItem.value}" class="input-field form-control input-field-checkbox" id="inp_{fieldItem.uid}" property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" value="yes">
                    </f:form.checkbox>
                </f:else>
            </eww:isconsentfield>
        </f:case>
    </f:switch>
    <f:if condition="{fieldIndex}">
        <button class="btn btn-default rem_field" data-field="{fieldItem.uid}" data-index="{fieldIndex}" name="rem_field" type="submit">
            <span class="glyphicon glyphicon-remove">
            </span>
            <span class="sr-only">
                {fieldItem.displayName} entfernen
            </span>
        </button>
    </f:if>
    <f:if condition="{fieldItem.dataType}=='DATE'">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
        </span>
    </f:if>
</div>
<f:form.validationresults>
    <f:if condition="{validationResults.flattenedErrors}">
        <f:for as="errors" each="{validationResults.flattenedErrors}" key="propertyPath">
            {propertyPath}
            <f:for as="error" each="{errors}">
                {error.code}: {error}
            </f:for>
        </f:for>
    </f:if>
</f:form.validationresults>
