<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace s=SJBR\StaticInfoTables\ViewHelpers}
{namespace eww=EWW\Dpf\ViewHelpers}

<f:if condition="{fieldItem.helpTextLong}">
    <div class="collapse" id="collapse{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}">
        <div class="alert alert-primary" role="alert">
            <a class="close" href="#collapse{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}" data-toggle="collapse" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <f:format.raw>{fieldItem.helpTextLong}</f:format.raw>
        </div>
    </div>
</f:if>

<div class="{f:if(condition:'{fieldItem.inputField} == 200', then: 'input-group', else: 'form-group')}">
    <f:if condition="{fieldItem.validator}=='DATE'">
        <div class="form-group input-group datetimepicker">
    </f:if>

    <f:if condition="{fieldItem.fillOutService} == 'urn'">
        <f:then>
            <button type="submit" name="fill_out_service_urn" class="btn btn-secondary fill_out_service_urn"
                    title="{f:translate(key: 'form_button.create_value')} URN" data-field="{fieldItem.uid}"
                    data-ajax="{f:uri.action(action:'fillOut',controller:'AjaxDocumentForm',pageType:settings.ajaxTypeNum)}"
                    data-index="{fieldIndex}" data-group="{formGroupUid}" data-groupindex="{groupIndex}"
                    style="display: none;">
                <i class="fas fa-edit"></i>
                <span class="sr-only">{f:translate(key: 'form_button.create_value')} URN"</span>
            </button>
        </f:then>
    </f:if>

    <f:switch expression="{fieldItem.inputField}">
        <f:case value="0">
            <f:render partial="DocumentForm/FieldLabel" arguments="{_all}"/>
            <f:if condition="{fieldItem.validator}=='DATE'">
                <f:then>
                    <f:form.textfield id="inp_{fieldItem.uid}"
                                      property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                      value="{fieldItem.value}"
                                      class="form-control input-field"
                                      additionalAttributes="{
                                        data-validator:fieldItem.validator,
                                        data-field:fieldItem.uid,
                                        data-index:fieldIndex,
                                        data-mandatory:fieldItem.mandatory,
                                        data-group:formGroupUid,
                                        data-groupindex:groupIndex,
                                        data-default:fieldItem.hasDefaultValue,
                                        data-validationExpression:fieldItem.validation,
                                        data-validationErrorMessage:fieldItem.validationErrorMessage,
                                        data-label:fieldItem.displayName,
                                        data-maxlength:fieldItem.maxInputLength,
                                        data-objecttype:fieldItem.objecttype
                    }"/>
                </f:then>
                <f:else>
                    <f:switch expression="{fieldItem.fillOutService}">
                        <f:case value="gnd">
                            <f:form.textfield id="inp_{fieldItem.uid}"
                                              property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                              value="{fieldItem.value}" class="input-field form-control autocomplete"
                                              additionalAttributes="{data-ajax: \"{f:uri.action(action:'searchGndKeyword',controller:'DataServiceAjax', pageType:settings.ajaxTypeNum)}\", data-autocompletefield: fieldItem.gndFieldUid,data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype}"/>
                        </f:case>
                        <f:case value="autocomplete">
                            <f:form.textfield id="inp_{fieldItem.uid}"
                                              property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                              value="{fieldItem.value}" class="input-field form-control autocomplete"
                                              additionalAttributes="{data-ajax: \"{f:uri.action(action:'autocomplete',controller:'DataServiceAjax',  arguments:'{\'inputOptionList\': fieldItem.inputOptionList}', pageType:settings.ajaxTypeNum)}\", data-autocompletefield: fieldItem.gndFieldUid,data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype}"/>
                        </f:case>
                        <f:defaultCase>
                            <f:form.textfield id="inp_{fieldItem.uid}"
                                              property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                              value="{fieldItem.value}" class="input-field form-control {fieldItem.fillOutService} {formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                              additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:fieldItem.validator,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype}"
                                              readonly="{f:if(condition:'!{eww:inArray(needle:\'{groupItem.uid}\', array:\'{currentUserAccessToGroup}\')} && {currentUserAccessToGroup}', then: 'readonly')}"
                            />
                        </f:defaultCase>
                    </f:switch>
                </f:else>
            </f:if>
        </f:case>
        <f:case value="1">
            <f:render partial="DocumentForm/FieldLabel" arguments="{_all}"/>
            <f:form.textarea id="inp_{fieldItem.uid}"
                             property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                             value="{fieldItem.value}" class="input-field form-control {fieldItem.fillOutService}"
                             additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:fieldItem.validator,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype}"
                             readonly="{f:if(condition:'!{eww:inArray(needle:\'{groupItem.uid}\', array:\'{currentUserAccessToGroup}\')} && {currentUserAccessToGroup}', then: 'readonly')}"
            />
        </f:case>
        <f:case value="2">
            <f:render partial="DocumentForm/FieldLabel" arguments="{_all}"/>
            <div class="form-control has-select">
                <f:form.select id="inp_{fieldItem.uid}"
                               property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                               value="{fieldItem.value}" class="form-control input-field {fieldItem.fillOutService}"
                               additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:fieldItem.validator,data-label:fieldItem.displayName,data-objecttype:fieldItem.objecttype}"
                               options="{fieldItem.inputOptions}"
                               disabled="{f:if(condition:'!{eww:inArray(needle:\'{groupItem.uid}\', array:\'{currentUserAccessToGroup}\')} && {currentUserAccessToGroup}', then: 'disabled')}"
                />
            </div>
        </f:case>
        <f:case value="3">
            <f:render partial="DocumentForm/FieldLabel" arguments="{_all}"/>
            <f:if condition="{fieldItem.consent}">
                <f:then>
                    <f:form.checkbox id="inp_{fieldItem.uid}"
                                     property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                     value="yes" class="input-field form-control input-field-checkbox"
                                     additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:fieldItem.validator,data-label:fieldItem.displayName,data-objecttype:fieldItem.objecttype}"
                                     checked="{f:if(condition:'{fieldItem.value}', then: 'true', else:'')}" disabled="{f:if(condition:'{fieldItem.value}', then: 'true', else:'')}"/>
                    <f:if condition="{fieldItem.value}">
                        <f:form.hidden
                                property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                value="{fieldItem.value}"/>
                    </f:if>
                </f:then>
                <f:else>
                    <f:form.checkbox id="inp_{fieldItem.uid}"
                                     property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                     value="yes" class="input-field form-control input-field-checkbox"
                                     additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:fieldItem.validator,data-label:fieldItem.displayName,data-objecttype:fieldItem.objecttype}"
                                     checked="{f:if(condition: '{fieldItem.value}', then: 'true')}"/>
                </f:else>
            </f:if>
        </f:case>
        <f:case value="10">
            <f:render partial="DocumentForm/FieldLabel" arguments="{_all}"/>
            <div id="markdown_area_{formPageUid}_{formGroupUid}_{groupIndex}_{fieldItem.uid}_{fieldIndex}">
                <f:form.textarea id="inp_{formPageUid}_{formGroupUid}_{groupIndex}_{fieldItem.uid}_{fieldIndex}"
                             property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                             value="{fieldItem.value}" class="input-field form-control {fieldItem.fillOutService}"
                             additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:fieldItem.validator,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype}"
                             readonly="{f:if(condition:'!{eww:inArray(needle:\'{groupItem.uid}\', array:\'{currentUserAccessToGroup}\')} && {currentUserAccessToGroup}', then: 'readonly')}"
                />
            </div>
        </f:case>
        <f:case value="100">
            <f:render partial="DocumentForm/FieldLabel" arguments="{_all}"/>
            <div class="dropdown-options input-group">
                <f:form.textfield id="inp_{fieldItem.uid}"
                              property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                              value="{fieldItem.value}" class="input-field form-control dropdown-options-input {fieldItem.fillOutService}"
                              additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:fieldItem.validator,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype}"
                              readonly="{f:if(condition:'!{eww:inArray(needle:\'{groupItem.uid}\', array:\'{currentUserAccessToGroup}\')} && {currentUserAccessToGroup}', then: 'readonly')}"
                />

                <span class="input-group-btn">
                    <button class="btn dropdown-options-toggle" type="button">
                        <span class="caret"></span>
                    </button>
                </span>
                <ul class="dropdown-options-values" style="display:none;">
                    <f:for each="{fieldItem.inputOptions}" as="inputOptionLabel" key="inputOptionValue" iteration="pageIterator">
                        <li>{inputOptionValue}</li>
                    </f:for>
                </ul>
            </div>
        </f:case>
        <f:case value="200">
            <f:render partial="DocumentForm/FileUploadField" arguments="{_all}"/>
        </f:case>
        <f:case value="300">
            <f:if condition="{document} == 0 || {document.state} == 'NEW:NONE' || {eww:isValidDepositLicense(uri:'{fieldItem.value}')} != 1">
                <a class="btn btn-s btn-info unselect-licence">{f:translate(key: 'form_button.unselectAll')}</a>
            </f:if>
            <f:for each="{fieldItem.licenceOptions}" as="licenceOption" iteration="licenceIterator">
                <f:render partial="DocumentForm/LicenceOption" arguments="{_all}"/>
                <f:if condition="{licenceIterator.isLast}">
                    <f:if condition="{fieldItem.value} && !{fieldItem.activeLicenceOption}">
                        <f:alias map="{licenceOption: '{eww:getDepositLicense(uri:\'{fieldItem.value}\')}'}">
                            <f:render partial="DocumentForm/LicenceOption" arguments="{_all}"/>
                        </f:alias>
                    </f:if>
                </f:if>
            </f:for>
            <f:if condition="{eww:isValidDepositLicense(uri:'{fieldItem.value}')} && {document} && {document.state} != 'NEW:NONE'}">
                <f:form.hidden
                    property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                    value="{fieldItem.value}"/>
            </f:if>
        </f:case>
    </f:switch>

    <f:if condition="{fieldIndex}">
        <button type="submit" name="rem_field" class="btn btn-secondary rem_field" data-index="{fieldIndex}"
                data-field="{fieldItem.uid}">
            <i class="fas fa-times"></i>
            <span class="sr-only">{fieldItem.displayName} entfernen</span>
        </button>
    </f:if>

    <f:if condition="{fieldItem.validator}=='DATE'">
        <button type="button" class="btn btn-secondary fill_out_service_urn input-group-addon">
            <i class="fas fa-calendar-alt"></i>
        </button>
        </div>
    </f:if>
</div>

<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
            {propertyPath}
            <f:for each="{errors}" as="error">
                {error.code}: {error}
            </f:for>
        </f:for>
    </f:if>
</f:form.validationResults>
