<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace eww=EWW\Dpf\ViewHelpers}


    <f:if condition="{groupItem.groupType} == 'primary_file'">
        <f:then>
            <legend>{f:translate(key: 'form_legend.primaryFile')}</legend>
        </f:then>
        <f:else>
            <legend>{f:translate(key: 'form_legend.secondaryFile')}</legend>
        </f:else>
    </f:if>

    <f:if condition="{fieldItem.file}">
        <f:then>
            <f:render partial="DocumentForm/File" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:render partial="DocumentForm/Upload" arguments="{_all}"/>
        </f:else>
    </f:if>




    <f:if condition="!{suggestMod}">
        <button type="submit" name="rem_file_group" class="rem_file_group btn btn-sm btn-secondary {f:if(condition:'{fieldItem.value}',then:'',else:'hidden')}" >
            <i class="fas fa-trash-alt"></i>
            {f:translate(key: 'form_button.remove_file', arguments: {0: ''})}
        </button>
    </f:if>



