<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace eww=EWW\Dpf\ViewHelpers}

<f:render partial="DocumentForm/FileAlerts" arguments="{_all}"/>

<f:link.external uri="{eww:fileUrl(uri:'{fieldItem.value}', processNumber:'{document.processNumber}')}" target="_blank" class="file_link">
    <f:if condition="{fieldItem.file.title}">
        <f:then>{fieldItem.file.title}</f:then>
        <f:else>{fieldItem.file.fileIdentifier}</f:else>
    </f:if>
</f:link.external>

<f:form.hidden id="inp_{fieldItem.uid}" property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
               additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:fieldItem.validator,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype}"
               class="input-field form-control input_file_upload"
               value="{f:if(condition:'{fieldItem.file.fileIdentifier}', then:'{fieldItem.value}', else:'')}" />

<f:form.hidden property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-fileIdentifier-0" value="{fieldItem.file.fileIdentifier}" />
