
    <ul class="tx-dpf-tabs">
      <f:for each="{documentForm.items}" as="formPage" iteration="pageIterator">
        <li><a href="#tab-{pageIterator.cycle}">{formPage.0.displayName}</a></li>
      </f:for>
      <li><a href="#tab-file-upload">Dateien</a></li>
    </ul>

    <div class="css-panes">

      <f:for each="{documentForm.items}" as="formPage" iteration="pageIterator">

        <div id="tab-{pageIterator.cycle}" class="fs_page" data-page="{formPage.0.uid}">

          <f:for each="{formPage.0.items}" as="formGroup" iteration="groupIterator">

            <f:for each="{formGroup}" as="groupItem" iteration="groupItemIterator">
                                            
              <f:render partial="DocumentForm/Group" arguments="{
                        formPageUid:formPage.0.uid,                       
                        formGroupUid:groupItem.uid,
                        formGroupDisplayName:groupItem.displayName,
                        groupItem:groupItem, 
                        groupIndex:groupItemIterator.index}"/>

              <f:if condition="{groupItem.maxIteration} == 0">
                <f:if condition="{groupItemIterator.isLast}">                               
                  <input type="submit" value="{f:translate(key: 'form_button.add_item', arguments: {0: groupItem.displayName})}"
                         name="add_group" class="add_group"
                         data-group="{groupItem.uid}"
                         data-ajax="{f:uri.action(
                              action:'ajaxGroup',
                              controller:'DocumentForm',
                              pageType:110124,
                              arguments:{
                                  pageUid:formPage.0.uid,
                                  groupUid:groupItem.uid                               
                         })}"
                         data-index="{groupItemIterator.index}" />
                </f:if>
              </f:if>
             
            </f:for>

          </f:for>

        </div>
      </f:for>

      <div id="tab-file-upload" class="fs_page">
        <f:render partial="DocumentForm/FileGroup" arguments="{groupIndex:0, displayName:'Volltextdokument (PDF-Datei)'}" />
        <input type="submit" value="Weitere Datei hinzufügen"
               name="add_file_group" class="add_file_group"
               data-group="file-upload"
               data-ajax="{f:uri.action(
                            action:'ajaxFileGroup',
                            controller:'DocumentForm',
                            pageType:110124
                           )}"
              data-index="0" />
      </div>

    </div>

  <div class="form-submit">
      <f:form.submit value="{f:translate(key: 'form_button.save')}" name="save" id="save" />
      <f:if condition="{documentForm.documentUid} < 1">            
        <f:form.submit value="{f:translate(key: 'form_button.save_continue'}" name="savecontinue" id="savecontinue" />
      </f:if>
      <f:form.submit value="{f:translate(key: 'form_button.cancel')}" name="cancel" id="cancel" />
  </div>