{namespace eww=EWW\Dpf\ViewHelpers}
<div class="tx-dpf-tab-container">
    <ul class="tx-dpf-tabs nav nav-tabs">
        <f:for as="formPage" each="{documentForm.items}" iteration="pageIterator">
            <eww:iselementallowed condition="{formPage.0.backendOnly}">
                <f:then>
                    <li class="{f:if(condition: '{pageIterator.index}==0', then: 'active', else:'')}">
                        <a data-toggle="tab" href="#tab-{pageIterator.cycle}">
                            {formPage.0.displayName}
                        </a>
                    </li>
                </f:then>
            </eww:iselementallowed>
        </f:for>
        <li>
            <a data-toggle="tab" href="#tab-file-upload">
                Dateien
            </a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <f:for as="formPage" each="{documentForm.items}" iteration="pageIterator">
        <eww:iselementallowed condition="{formPage.0.backendOnly}">
            <f:then>
                <div class="fs_page tab-pane {f:if(condition: '{pageIterator.index}==0', then: 'active', else:'')}" data-page="{formPage.0.uid}" id="tab-{pageIterator.cycle}">
                    <f:for as="formGroup" each="{formPage.0.items}" iteration="groupIterator">
                        <f:for as="groupItem" each="{formGroup}" iteration="groupItemIterator">
                            <eww:iselementallowed condition="{groupItem.backendOnly}">
                                <f:then>
                                    <f:render arguments="{
                        formPageUid:formPage.0.uid,                       
                        formGroupUid:groupItem.uid,
                        formGroupDisplayName:groupItem.displayName,
                        groupItem:groupItem, 
                        groupIndex:groupItemIterator.index}" partial="DocumentForm/Group">
                                    </f:render>
                                    <f:if condition="{groupItem.maxIteration} == 0">
                                        <f:if condition="{groupItemIterator.isLast}">
                                            <button class="btn btn-xs btn-default add_group" data-ajax="{f:uri.action(
                              action:'group',
                              controller:'AjaxDocumentForm',
                              pageType:110124,
                              arguments:{
                                  pageUid:formPage.0.uid,
                                  groupUid:groupItem.uid                               
                         })}" data-group="{groupItem.uid}" data-index="{groupItemIterator.index}" name="add_group" type="submit">
                                                <span class="glyphicon glyphicon-plus">
                                                </span>
                                                {f:translate(key: 'form_button.add_item', arguments: {0: groupItem.displayName})}
                                            </button>
                                        </f:if>
                                    </f:if>
                                </f:then>
                            </eww:iselementallowed>
                        </f:for>
                    </f:for>
                </div>
            </f:then>
        </eww:iselementallowed>
    </f:for>
    <div class="fs_page tab-pane" id="tab-file-upload">
        <f:render arguments="{file:documentForm.primaryFile,virtual:documentForm.virtual}" partial="DocumentForm/PrimaryFileGroup">
        </f:render>
        <f:render arguments="{files:documentForm.secondaryFiles}" partial="DocumentForm/SecondaryFileGroup">
        </f:render>
        <button class="btn btn-xs btn-default add_file_group" data-ajax="{f:uri.action(
                              action:'secondaryUpload',
                              controller:'AjaxDocumentForm',
                              pageType:110124                               
                             )}" data-group="file-upload" data-index="0" name="add_file_group" type="submit">
            <span class="glyphicon glyphicon-plus">
            </span>
            {f:translate(key: 'form_button.addFile')}
        </button>
    </div>
</div>
<div class="form-submit">
    <f:form.button class="btn btn-lg btn-success" disabled="{f:if(condition: '{documentForm.saveDisabled}', then: 'disabled')}" id="save" name="save">
        <span class="glyphicon glyphicon-ok">
        </span>
        {f:translate(key: 'form_button.save')}
    </f:form.button>
    <f:form.button class="btn btn-lg btn-info" id="validate" name="validate">
        <span class="glyphicon glyphicon-chevron-right">
        </span>
        Validate
    </f:form.button>
</div>
