<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf=EWW\Dpf\ViewHelpers}

<f:render partial="DocumentForm/Validation.html" />
<div class="tx-dpf-tab-container">
    <ul class="tx-dpf-tabs nav nav-tabs">
        <f:for each="{documentForm.items}" as="formPage" iteration="pageIterator">
            <f:if condition="{dpf:IsElementAllowed(condition:'{formPage.0.accessRestrictionRoles}')}">
                <f:then>
                    <li class="nav-item">
                        <a class="nav-link {f:if(condition: '{activeFileTab} != 1 && {pageIterator.isFirst}', then: 'active', else:'')}" href="#tab-{pageIterator.cycle}" data-toggle="tab">{formPage.0.displayName}</a>
                    </li>
                </f:then>
            </f:if>
        </f:for>
    </ul>
</div>

<div class="tab-content">
    <f:for each="{documentForm.items}" as="formPage" iteration="pageIterator">
        <f:if condition="{dpf:IsElementAllowed(condition:'{formPage.0.accessRestrictionRoles}')}">
            <f:then>
                <div id="tab-{pageIterator.cycle}"
                     class="fs_page tab-pane {f:if(condition: '{activeFileTab} != 1 && {pageIterator.isFirst}', then: 'active', else:'')}"
                     data-page="{formPage.0.uid}">

                    <f:if condition="{formPage.0.filePage}">
                        <f:if condition="{suggestMod}">
                            <p class="suggestion-file-info">
                                {f:translate(key: 'manager.control.suggestionFileUploadInfo')}
                            </p>
                        </f:if>
                    </f:if>

                    <f:for each="{formPage.0.items}" as="formGroup" iteration="groupIterator">
                        <f:for each="{formGroup}" key="groupItemIndex" as="groupItem" iteration="groupItemIterator">
                            <f:if condition="{dpf:IsElementAllowed(condition:'{groupItem.accessRestrictionRoles}')}">
                                <f:then>
                                    <f:variable name="formPageUid">{formPage.0.uid}</f:variable>
                                    <f:variable name="formGroupUid">{groupItem.uid}</f:variable>
                                    <f:variable name="formGroupDisplayName">{groupItem.displayName}</f:variable>
                                    <f:variable name="groupIndex">{groupItemIndex}</f:variable>
                                    <f:render partial="DocumentForm/Group" arguments="{_all}"/>
                                    <f:if condition="{groupItem.maxIteration} == 0 && {groupItem.primaryFileGroup} == 0">
                                        <f:if condition="{groupItemIterator.isLast}">
                                            <button type="button" name="add_group"
                                                    class="btn btn-sm btn-secondary add_group"
                                                    data-group="{groupItem.uid}"
                                                    data-ajax="{f:uri.action(action:'group',controller:'AjaxDocumentForm',pageType:settings.ajaxTypeNum,arguments:{pageUid:formPage.0.uid,groupUid:groupItem.uid})}"
                                                    data-groupIndex="{groupItemIndex}">
                                                <i class="fas fa-plus"></i>
                                                {f:translate(key: 'form_button.add_item', arguments: {0:
                                                groupItem.displayName})}
                                            </button>
                                        </f:if>
                                    </f:if>
                                </f:then>
                            </f:if>
                        </f:for>
                    </f:for>
                </div>
            </f:then>
        </f:if>
    </f:for>
</div>
<div class="prev-next-buttons">
    <button id="next-form-page" class="btn btn-s btn-primary">
        {f:translate(key: 'form_button.nextPage')}
        <i class="fas fa-chevron-right"></i>
    </button>
    <button id="prev-form-page" class="btn btn-s btn-primary">
        <i class="fas fa-chevron-left"></i>
        {f:translate(key: 'form_button.prevPage')}
    </button>
</div>
<div class="form-submit">

    <f:if condition="{edit}">
        <f:then>
            <f:if condition="{documentForm.fedoraPid} && {documentForm.temporary}">
                <f:then>
                    <f:if condition="{suggestMod}">
                        <f:then>
                            <f:form.button name="saveSuggestion" id="saveSuggestion"
                                           class="btn btn-lg btn-success"
                                           disabled="{f:if(condition: '{dpf:isAccessGranted(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_SUGGEST_MODIFICATION\')}', then: '', else: 'disable')}"
                                           value="suggestModification">
                                <i class="fas fa-check"></i>
                                {f:translate(key: 'form_button.saveSuggestion')}
                            </f:form.button>
                        </f:then>
                        <f:else>
                            <f:form.button name="saveAndUpdate" id="saveAndUpdate"
                                           class="btn btn-lg btn-success"
                                           disabled="{f:if(condition: '{dpf:isAccessGranted(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_UPDATE\')}', then: '', else: '')}">
                                <i class="fas fa-check"></i>
                                {f:translate(key: 'form_button.saveAndUpdate')}
                            </f:form.button>
                            <f:form.button name="saveWorkingCopy" id="saveWorkingCopy"
                                           class="btn btn-lg btn-success"
                                           disabled="{f:if(condition: '{dpf:isAccessGranted(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_UPDATE\')}', then: '', else: '')}"
                                           value="workingCopy">
                                <i class="fas fa-check"></i>
                                {f:translate(key: 'form_button.saveWorkingCopy')}
                            </f:form.button>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{suggestMod}">
                        <f:then>
                            <f:form.button name="saveSuggestion" id="saveSuggestion"
                                           class="btn btn-lg btn-success"
                                           disabled="{f:if(condition: '{dpf:isAccessGranted(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_SUGGEST_MODIFICATION\')}', then: '', else: 'disable')}"
                                           value="suggestModification">
                                <i class="fas fa-check"></i>
                                {f:translate(key: 'form_button.saveSuggestion')}
                            </f:form.button>
                        </f:then>
                        <f:else>
                            <f:form.button name="saveLocalDocument" id="saveLocalDocument"
                                           class="btn btn-lg btn-success"
                                           disabled="{f:if(condition: '{dpf:isAccessGranted(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_UPDATE\')}', then: '', else: '')}"
                                           value="localDocument">
                                <i class="fas fa-check"></i>
                                {f:translate(key: 'form_button.save')}
                            </f:form.button>
                        </f:else>
                    </f:if>

                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:form.button name="save" id="{f:if(condition: '{backoffice}', then: 'saveCreate', else: 'save')}"
                           class="btn btn-lg btn-success"
                           disabled="{f:if(condition: '{dpf:isAccessGranted(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_CREATE\')} ||
                   {dpf:isAccessGranted(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_CREATE_ANONYMOUSLY\')} ||
                   {dpf:isAccessGranted(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_EDIT_ANONYMOUSLY\')}', then: '', else: 'disabled')}">
                <i class="fas fa-check"></i>
                {f:translate(key: 'form_button.save')}
            </f:form.button>
        </f:else>
    </f:if>

    <f:form.button name="validate" type="button" id="validate" class="btn btn-lg btn-info">
        <i class="fas fa-chevron-right"></i>
        {f:translate(key: 'form_button.validate')}
    </f:form.button>
</div>
