<f:form action="create" enctype="multipart/form-data" name="documentData" object="{documentData}">
    <f:form.hidden property="type" value="{documentForm.uid}">
    </f:form.hidden>
    <f:form.hidden id="qucosaid" property="qucosaId" value="{documentForm.qucosaId}">
    </f:form.hidden>
    <f:form.hidden id="qucosaUrn" property="qucosaUrn" value="{documentForm.qucosaUrn}">
    </f:form.hidden>
    <f:render arguments="{documentForm:documentForm}" partial="DocumentForm/FormBody">
    </f:render>
</f:form>
<f:form action="cancel" enctype="multipart/form-data" name="cancelData" object="{}">
    <f:form.button class="btn btn-sm btn-default" id="cancel" name="cancel">
        <span class="glyphicon glyphicon-remove">
        </span>
        {f:translate(key: 'form_button.cancel')}
    </f:form.button>
</f:form>
