{namespace eww=EWW\Dpf\ViewHelpers}

  <f:if condition="{file}"> 
    <f:then>      
      <fieldset class="fs_file_group" data-group="file-upload">
        
        <legend>{f:translate(key: 'form_legend.primaryFile')}</legend>
        
        <div class="form-control-static">
          <f:link.external uri="{eww:fileUrl(uri:'{file.link}')}" target="_blank" class="file_link">{file.title}</f:link.external>
                   
          <button type="submit"
                       name="rem_file_group" class="rem_file_group btn btn-xs btn-default"                           
                       data-ajax="{f:uri.action(
                            action:'deleteFile',
                            controller:'AjaxDocumentForm',
                            pageType:110124,
                            arguments:{
                              fileUid: file.uid,
                              isPrimary: 1
                       })}">
            <span class="glyphicon glyphicon-trash"></span>
            {f:translate(key: 'form_button.delete_item', arguments: {0: ''})}
          </button>
        </div>
        
        
      </fieldset>
    </f:then>    
    <f:else>        
      <f:render partial="DocumentForm/PrimaryUpload" />           
    </f:else>
  </f:if>



