<fieldset class="fs_file_group" data-group="file-upload" id="primary_file">
  <legend>{f:translate(key: 'form_legend.primaryFile')} *</legend> 
  <f:form.upload id="inp_primaryFile" property="primaryFile" />
  
  <div class="form-group">
    <label for="inp_primaryFile" data-index="{}">Display name</label>
    <f:form.textfield id="inp_primaryFile_label" property="primaryFile.label" value="" class="input-field form-control" additionalAttributes="{}" /> 
  </div>  
  <div class="form-group">
    <label for="inp_primaryFile" data-index="{}">Download</label>
    <f:form.checkbox id="inp_primaryFile_download" property="primaryFile.download" value="yes" class="input-field input-field-checkbox" additionalAttributes="{}"  checked="{file.download}" />
  </div>   
  <div class="form-group">   
    <label for="inp_primaryFile" data-index="{}">Archive</label> 
    <f:form.checkbox id="inp_primaryFile_archive" property="primaryFile.archive" value="yes" class="input-field input-field-checkbox" additionalAttributes="{}"  checked="{file.archive}" />
  </div>        
    
</fieldset>
    
    