{namespace eww=EWW\Dpf\ViewHelpers} 
  <f:if condition="{files}"> 
    <f:then>
      <f:for each="{files}" as="file" iteration="fileIterator">
        <fieldset class="fs_file_group" data-group="file-upload">
         
         <legend>{f:translate(key: 'form_legend.secondaryFile')}</legend>
         
         <div class="form-control-static">
            <f:link.external uri="{eww:fileUrl(uri:'{file.link}')}" target="_blank" class="file_link">{file.title}</f:link.external>
                  
            <button type="submit"
                       name="rem_file_group" class="rem_file_group btn btn-xs btn-default"
                       data-ajax="{f:uri.action(
                            action:'deleteFile',
                            controller:'AjaxDocumentForm',
                            pageType:110124,
                            arguments:{
                              fileUid: file.uid                              
                       })}">
              <span class="glyphicon glyphicon-trash"></span>
              {f:translate(key: 'form_button.delete_item' arguments: {0: ''})}
            </button>
            
          </div>
                        
        </fieldset>            
      </f:for>            
    </f:then>  
  </f:if>
  <f:render partial="DocumentForm/SecondaryUpload" arguments="{groupIndex:0}" />     
