  <f:if condition="{files}"> 
    <f:then>
      <f:for each="{files}" as="file" iteration="fileIterator">
        <fieldset class="fs_file_group" data-group="file-upload">
          {file.title}           
        
          <input type="submit" value="{f:translate(key: 'form_button.delete_item', arguments: {0: fieldItem.displayName})}"
                       name="rem_file_group" class="rem_file_group"                     
                       data-ajax="{f:uri.action(
                            action:'deleteFile',
                            controller:'AjaxDocumentForm',
                            pageType:110124,
                            arguments:{
                              fileUid: file.uid
                       })}"/>        
                        
        </fieldset>            
      </f:for>            
    </f:then>  
  </f:if>
  <f:render partial="DocumentForm/SecondaryUpload" arguments="{groupIndex:0}" />     
