<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace eww=EWW\Dpf\ViewHelpers}

<button type="" name="file-input-toggle" class="file-input-toggle btn btn-sm btn-secondary">
    Url/Upload
    <i class="fas fa-exchange-alt"></i>
</button>

<label class="input_file_url_label input-group-text d-none">URL</label>
<f:form.textfield id="inp_{fieldItem.uid}"
                  property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}.url"
                  value="{fieldItem.value}"
                  class="input-field form-control {formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex} input_file_url d-none"
                  additionalAttributes="{data-ajax: \"{f:uri.action(action:'remoteFileExists',controller:'AjaxDocumentForm',pageType:settings.ajaxTypeNum)}\",data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-validationExpression:fieldItem.validation,data-validationErrorMessage:fieldItem.validationErrorMessage,data-validator:'REMOTE_FILE_EXISTS',data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype,disabled:'disabled'}"
/>

<f:form.upload id="inp_{fieldItem.uid}" property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}.file"
               additionalAttributes = "{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength,data-objecttype:fieldItem.objecttype}"
               class="input-field form-control input_file_upload"/>

<f:form.hidden property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-fileIdentifier-0" value="{fieldItem.file.fileIdentifier}" />
