<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

<ol>
    <f:for each="{documentTypes}" as="documentType">
        <f:if condition="{documentType.hiddenInList} == 0">
            <li>
                <f:link.action action="new" controller="{controller}" arguments="{documentType:documentType}" noCacheHash="TRUE">{documentType.displayName}
                </f:link.action>
            </li>
        </f:if>
    </f:for>
</ol>
