<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace s=SJBR\StaticInfoTables\ViewHelpers}
{namespace eww=EWW\Dpf\ViewHelpers}

<div class="form-group">
    <label for="inp_{fieldType.uid}" data-index="{fieldIterator.index}" data-field="{fieldType.uid}">{fieldType.displayName}
        <f:if condition="{fieldType.mandatory}">
            <span class="mandatory" data-index="{fieldIterator.index}" data-field="{fieldType.uid}">*</span>
        </f:if>
    </label>

    <f:if condition="{fieldType.dataType}=='DATE'">
        <div class="datetimepicker input-group date">
    </f:if>

    <f:if condition="{fieldType.fillOutService} == 'urn'">
        <f:then>
            <button type="submit" name="fill_out_service_urn" class="btn btn-default fill_out_service_urn"
                    title="{f:translate(key: 'form_button.create_value')} URN" data-field="{fieldType.uid}"
                    data-ajax="{f:uri.action(action:'fillOut',controller:'AjaxDocument',pageType:110124)}"
                    data-index="{fieldIterator.index}" data-group="{groupType.uid}" data-groupindex="{groupIterator.index}"
                    style="display: none;">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="sr-only">{f:translate(key: 'form_button.create_value')} URN"</span>
            </button>
        </f:then>
    </f:if>

    <f:switch expression="{fieldType.inputField}">
        <f:case value="0">
            <f:form.textfield id="inp_{fieldType.uid}"
                              property="metadata.{groupType.uid}.{groupIterator.index}.{fieldType.uid}.{fieldIterator.index}"
                              value="{field.value}" class="input-field form-control {fieldType.fillOutService}"
                              additionalAttributes="{data-field:fieldType.uid,data-index:fieldIterator.index,data-mandatory:fieldType.mandatory,data-group:groupType.uid,data-groupindex:groupIterator.index,data-default:fieldType.hasDefaultValue,data-regexp:fieldType.validation,data-datatype:fieldType.dataType,data-label:fieldType.displayName}"/>
        </f:case>
        <f:case value="1">
            <f:form.textarea id="inp_{fieldType.uid}"
                             property="metadata.{groupType.uid}.{groupIterator.index}.{fieldType.uid}.{fieldIterator.index}"
                             value="{field.value}" class="input-field form-control {fieldType.fillOutService}"
                             additionalAttributes="{data-field:fieldType.uid,data-index:fieldIterator.index,data-mandatory:fieldType.mandatory,data-group:groupType.uid,data-groupindex:groupIterator.index,data-default:fieldType.hasDefaultValue,data-regexp:fieldType.validation,data-datatype:fieldType.dataType,data-label:fieldType.displayName}"/>
        </f:case>
        <f:case value="2">
            <div class="form-control has-select">
                <f:form.select id="inp_{fieldType.uid}"
                               property="metadata.{groupType.uid}.{groupIterator.index}.{fieldType.uid}.{fieldIterator.index}"
                               value="{f:if(condition:'{field.value}', then:'{field.value}', else:'{fieldType.inputOptionList.defaultValue}')}" class="form-control input-field {fieldType.fillOutService}"
                               additionalAttributes="{data-field:fieldType.uid,data-index:fieldIterator.index,data-mandatory:fieldType.mandatory,data-group:groupType.uid,data-groupindex:groupIterator.index,data-default:fieldType.hasDefaultValue,data-regexp:fieldType.validation,data-datatype:fieldType.dataType,data-label:fieldType.displayName}"
                               options="{eww:document.inputOptions(inputOptionList:'{fieldType.inputOptionList}')}"/>
            </div>
        </f:case>
        <f:case value="3">
            <eww:isConsentField condition="{fieldType.consent}">
                <f:then>
                    <f:form.checkbox id="inp_{fieldType.uid}"
                                     property="metadata.{groupType.uid}.{groupIterator.index}.{fieldType.uid}.{fieldIterator.index}"
                                     value="yes" class="input-field form-control input-field-checkbox"
                                     additionalAttributes="{data-field:fieldType.uid,data-index:fieldIterator.index,data-mandatory:fieldType.mandatory,data-group:groupType.uid,data-groupindex:groupIterator.index,data-default:fieldType.hasDefaultValue,data-regexp:fieldType.validation,data-datatype:fieldType.dataType,data-label:fieldType.displayName}"
                                     checked="{field.value}" disabled="true"/>
                    <f:form.hidden
                            property="metadata.{groupType.uid}-{groupIterator.index}-{fieldType.uid}-{fieldIterator.index}"
                            value="{field.value}"/>
                </f:then>
                <f:else>
                    <f:form.checkbox id="inp_{fieldType.uid}"
                                     property="metadata.{groupType.uid}.{groupIterator.index}.{fieldType.uid}.{fieldIterator.index}"
                                     value="yes" class="input-field form-control input-field-checkbox"
                                     additionalAttributes="{data-field:fieldType.uid,data-index:fieldIterator.index,data-mandatory:fieldType.mandatory,data-group:groupType.uid,data-groupindex:groupIterator.index,data-default:fieldType.hasDefaultValue,data-regexp:fieldType.validation,data-datatype:fieldType.dataType,data-label:fieldType.displayName}"
                                     checked="{field.value}"/>
                </f:else>
            </eww:isConsentField>
        </f:case>
    </f:switch>

    <f:if condition="{fieldIterator.index}">
        <button type="submit" name="rem_field" class="btn btn-default rem_field" data-index="{fieldIterator.index}"
                data-field="{fieldType.uid}">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only">{fieldType.displayName} entfernen</span>
        </button>
    </f:if>

    <f:if condition="{fieldType.dataType}=='DATE'">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
</div>
</f:if>
</div>

<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
            {propertyPath}
            <f:for each="{errors}" as="error">
                {error.code}: {error}
            </f:for>
        </f:for>
    </f:if>
</f:form.validationResults>


