<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace eww=EWW\Dpf\ViewHelpers}


<f:comment>
    <eww:document.pages document="{document}">
        <h2>{pageType.displayName}</h2> <br />
        <eww:document.groups pageType="{pageType}" groups="{groups}">
            <h3>{groupType.displayname}</h3> <br />
            <eww:document.fields groupType="{groupType}" group="{group}">
                {fieldType.displayName}
                <f:form.textfield id="inp_{field.uid}"
                                  property="metadata.{groupType.uid}.{groupIndex}.{fieldType.uid}.{fieldIndex}"
                                  value="{field.value}"
                                  class="{}"
                                  additionalAttributes="{}"/>
                <br />
            </eww:document.fields>
        </eww:document.groups>

        <br />
    </eww:document.pages>
</f:comment>

<f:render partial="Document/Validation.html" />

<div class="tx-dpf-tab-container">
    <ul class="tx-dpf-tabs nav nav-tabs">
        <eww:document.pages document="{document}">
            <eww:isElementAllowed condition="{pageType.backendOnly}">
                <f:then>
                    <li class="{f:if(condition: '{pageIterator.index}==0', then: 'active', else:'')}">
                        <a href="#tab-{pageIterator.cycle}" data-toggle="tab">{pageType.displayName}</a></li>
                </f:then>
            </eww:isElementAllowed>
        </eww:document.pages>
        <li><a href="#tab-file-upload" data-toggle="tab">Dateien</a></li>
    </ul>
</div>

<div class="tab-content">
    <eww:document.pages document="{document}">
        <eww:isElementAllowed condition="{pageType.backendOnly}">
            <f:then>
                <div id="tab-{pageIterator.cycle}"
                     class="fs_page tab-pane {f:if(condition: '{pageIterator.index}==0', then: 'active', else:'')}"
                     data-page="{pageType.uid}">

                    <eww:document.groups pageType="{pageType}" groups="{groups}">
                        <eww:isElementAllowed condition="{groupType.backendOnly}">
                            <f:then>
                                <f:render partial="Document/GroupNew"
                                          arguments="{pageType:pageType,groupType:groupType,group:group,groupIterator:groupIterator}"/>

                                <f:if condition="{groupType.maxIteration} == 0">
                                    <f:if condition="{groupIterator.isLast}">
                                        <button type="submit" name="add_group"
                                                class="btn btn-xs btn-default add_group"
                                                data-group="{groupType.uid}"
                                                data-ajax="{f:uri.action(action:'group',controller:'AjaxDocument',pageType:110124,arguments:{pageUid:pageType.uid,groupUid:groupType.uid})}"
                                                data-index="{groupIterator.index}">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            {f:translate(key: 'form_button.add_item', arguments: {0:
                                            groupType.displayName})}
                                        </button>
                                    </f:if>
                                </f:if>
                            </f:then>
                        </eww:isElementAllowed>
                    </eww:document.groups>
                </div>
            </f:then>
        </eww:isElementAllowed>
    </eww:document.pages>


    <div id="tab-file-upload" class="fs_page tab-pane">
        <f:render partial="Document/PrimaryFileGroup"
                  arguments="{file:document.primaryFile,virtual:document.virtual}"/>
        <f:render partial="Document/SecondaryFileGroup" arguments="{files:document.secondaryFiles}"/>
        <button type="submit" name="add_file_group" class="btn btn-xs btn-default add_file_group"
                data-group="file-upload"
                data-ajax="{f:uri.action(action:'secondaryUpload',controller:'AjaxDocument',pageType:110124)}"
                data-index="0">
            <span class="glyphicon glyphicon-plus"></span>
            {f:translate(key: 'form_button.addFile')}
        </button>
    </div>
</div>

<div class="form-submit">
    <f:form.button name="save" id="save" disabled="{f:if(condition: '{document.saveAllowed} == 0', then: 'disabled')}"
                   class="btn btn-lg btn-success">
        <span class="glyphicon glyphicon-ok"></span>
        {f:translate(key: 'form_button.save')}
    </f:form.button>

    <f:form.button name="validate" id="validate" class="btn btn-lg btn-info">
        <span class="glyphicon glyphicon-chevron-right"></span>
        {f:translate(key: 'form_button.validate')}
    </f:form.button>
</div>
