<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}


<f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
    <f:link.action action="doubletCheck" controller="Search" arguments="{document : document}"
                   class="btn btn-sm btn-outline-secondary">{f:translate(key: 'manager.doublet')}
    </f:link.action>
</f:if>

<dpf:link.preview
        arguments="{document : document}"
        pageUid="{settings.previewPage}"
        apiPid="{settings.apiPid}"
        class="btn btn-sm btn-outline-secondary">
    <i class="fas fa-eye"></i>
</dpf:link.preview>

<dpf:link.dataCite
        arguments="{document : document}"
        pageUid="{settings.previewPage}"
        apiPid="{settings.apiPid}"
        class="btn btn-sm btn-outline-secondary">
    <i class="fas fa-info-circle"></i>
</dpf:link.dataCite>

<f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
    <f:link.action action="duplicate" arguments="{document : document}" class="btn btn-sm btn-outline-secondary"
                   title="{f:translate(key: 'manager.tooltip.duplicate')}"
                   additionalAttributes="{data-toggle: 'tooltip' }">
        <i class="fas fa-copy"></i>
    </f:link.action>
</f:if>

<f:link.action action="uploadFiles" arguments="{document : document}" class="btn btn-sm btn-outline-secondary"
               title="{f:translate(key: 'manager.tooltip.uploadFiles')}"
               additionalAttributes="{data-toggle: 'tooltip' }">
    <i class="fas fa-file-upload"></i>
</f:link.action>

<f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
    <f:alias map="{activateTooltip: '{f:translate(key: \'manager.tooltip.activate\')}',
        inactivateTooltip: '{f:translate(key: \'manager.tooltip.inactivate\')}',
        confirm: '{f:if(condition: \'{document.activateRemote}\', then: \'#confirmActivate\', else: \'#confirmInactivate\')}'}">
        <f:link.action
                action="{f:if(condition: '{document.activateRemote}', then: 'activate')}{f:if(condition: '{document.inactivateRemote}', then: 'inactivate')}"
                arguments="{document : document}"
                class="btn btn-sm btn-outline-secondary {f:if(condition: '{document.activationChangeAllowed} == 0', then: 'disabled')}"
                additionalAttributes="{data-documenttitle: document.title, data-toggle: 'modal', data-target: confirm}">
                <i class="fas {f:if(condition: '{document.active}', then: 'fa-check-circle', else: 'fa-ban')}"
                   data-toggle="tooltip"
                   title="{f:if(condition: '{document.activateRemote}', then: '{activateTooltip}', else: '{inactivateTooltip}')}">
                </i>
        </f:link.action>
    </f:alias>
</f:if>

<f:switch expression="{document.localStatus}">

    <f:case value="NEW">
        <f:if condition="{document.owner} == {currentUser.uid}">
            <f:then>
                <f:link.action action="deleteLocally" arguments="{document : document}" class="btn btn-sm btn-danger"
                               additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDeleteLocally'}">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    {f:translate(key: 'form_button.deleteLocally')}
                </f:link.action>
            </f:then>
        </f:if>
    </f:case>

    <f:case value="REGISTERED">
        <f:if condition="{document.owner} == {currentUser.uid}">
            <f:then>
                <f:link.action action="deleteLocally" arguments="{document : document}" class="btn btn-sm btn-danger"
                               additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDeleteLocally'}">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    {f:translate(key: 'form_button.deleteLocally')}
                </f:link.action>
            </f:then>
            <f:else>
                <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
                    <f:link.action action="discard" arguments="{document : document}" class="btn btn-sm btn-warning"
                                   additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDiscard'}">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                        {f:translate(key: 'manager.discard')}
                    </f:link.action>
                </f:if>
            </f:else>
        </f:if>
    </f:case>

    <f:defaultCase>
        <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
            <f:link.action action="discard" arguments="{document : document}" class="btn btn-sm btn-warning"
                           additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDiscard'}">
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                {f:translate(key: 'manager.discard')}
             </f:link.action>
        </f:if>
        <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_RESEARCHER\'}')}">
            <f:link.action action="suggest" arguments="{document : document}" class="btn btn-sm btn-primary"
                           additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: ''}">
                <i class="fas fa-question-circle"></i>
                {f:translate(key: 'form_button.suggest')}
            </f:link.action>
         </f:if>
    </f:defaultCase>

</f:switch>

<f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
    <f:if condition="{document.ingestRemote}">
        <f:link.action action="release" arguments="{document : document, releaseType : 'publish'}"
                       class="btn btn-sm {f:if(condition: '{document.valid}', then: 'btn-success', else: 'btn-success disabled')}"
                       additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmPublish'}">
            <i class="fas fa-check"></i>
            {f:translate(key: 'manager.publish')}
        </f:link.action>
    </f:if>

    <f:if condition="{document.updateRemote}">
        <f:link.action action="release" arguments="{document : document, releaseType : 'update'}"
                       class="btn btn-sm {f:if(condition: '{document.valid}', then: 'btn-info', else: 'btn-info disabled')}"
                       additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmUpdate'}">
            <i class="fas fa-sync"></i>
            {f:translate(key: 'manager.update')}
        </f:link.action>
    </f:if>

    <f:if condition="{document.deleteRemote}">
        <f:link.action action="delete" arguments="{document : document}" class="btn btn-sm btn-danger"
                       additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDelete'}">
            <i class="fas fa-eraser"></i>
            {f:translate(key: 'manager.delete')}
        </f:link.action>
    </f:if>

    <f:if condition="{document.restoreRemote}">
        <f:link.action action="restore" arguments="{document : document, releaseType : 'restore'}"
                       class="btn btn-sm btn-primary"
                       additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmRestore'}">
            <i class="fas fa-undo-alt"></i>
            {f:translate(key: 'manager.restore')}restore
        </f:link.action>
    </f:if>
</f:if>