<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom sticky-top pt-3">
    <h1 class="h2">{f:translate(key: 'manager.control.documents')}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <f:link.action action="listNew" controller="Document"
                           class="btn btn-sm btn-outline-secondary {dpf:activeManagerMenu(controllerName:'Document', actionName:'listNew')}">
                {f:translate(key: 'manager.document.state.new')}
            </f:link.action>
            <f:link.action action="listEdit" controller="Document"
                           class="btn btn-sm btn-outline-secondary {dpf:activeManagerMenu(controllerName:'Document', actionName:'listEdit')}">
                {f:translate(key: 'manager.document.state.inProgress')}
            </f:link.action>
            <f:link.action action="list" controller="Document"
                           class="btn btn-sm btn-outline-secondary {dpf:activeManagerMenu(controllerName:'Document', actionName:'list')}">
                {f:translate(key: 'manager.document.state.all')}
            </f:link.action>
        </div>
    </div>
</div>

<f:flashMessages />

<table class="tx_dpf table table-striped table-manager table-condensed">
    <thead>
    <tr>
        <th class="xcol-md-4">{f:translate(key: 'manager.document.title')}</th>
        <th class="xcol-md-2">{f:translate(key: 'manager.document.authors')}</th>
        <th class="xcol-md-2">{f:translate(key: 'manager.document.publishedDate')}</th>
        <th class="xcol-md-2">{f:translate(key: 'manager.document.datasetIdentifier')}</th>
        <th class="xcol-md-2">{f:translate(key: 'manager.document.state')}</th>
        <th class="xcol-md-2">{f:translate(key: 'manager.document.type')}</th>
        <th class="xcol-md-2"><!-- ACTIONS --></th>
    </tr>
    </thead>
    <f:for each="{documents}" as="document">
        <tr>
            <td>
                <f:link.action action="edit" controller="DocumentFormBackoffice" arguments="{document : document}">
                    {document.title}
                </f:link.action>
            </td>
            <td>
                <f:for each="{document.authors}" as="author" iteration="itemIterator">
                    {author}
                    <f:if condition="{itemIterator.isLast}">
                        <f:then></f:then>
                        <f:else>;</f:else>
                    </f:if>
                </f:for>
            </td>
            <td>
                <f:if condition="{document.dateIssued}">
                    <f:format.date date="{document.dateIssued}" format="d.m.Y"/>
                </f:if>
            </td>
            <td>{document.objectIdentifier}</td>
            <td>
                <f:if condition="{document.isNew}">
                    <f:then>
                        {f:translate(key: 'manager.document.state.new')}
                    </f:then>
                    <f:else>
                        {f:translate(key: 'manager.document.state.inProgress')}
                    </f:else>
                </f:if>
            </td>
            <td>
                {document.documentType.displayName}
            </td>
            <td class="table_col_function">

                <f:link.action action="doubletCheck" controller="Search" arguments="{document : document}"
                               class="btn btn-sm btn-outline-secondary">{f:translate(key: 'manager.doublet')}
                </f:link.action>

                <dpf:link.preview
                        arguments="{document : document}"
                        pageUid="{settings.previewPage}"
                        apiPid="{settings.apiPid}"
                        class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-eye"></i>
                </dpf:link.preview>

                <dpf:link.dataCite
                        arguments="{document : document}"
                        pageUid="{settings.previewPage}"
                        apiPid="{settings.apiPid}"
                        class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-info-circle"></i>
                </dpf:link.dataCite>

                <f:link.action action="duplicate" arguments="{document : document}" class="btn btn-sm btn-outline-secondary"
                               title="{f:translate(key: 'manager.tooltip.duplicate')}"
                               additionalAttributes="{data-toggle: 'tooltip' }">
                    <i class="fas fa-copy"></i>
                </f:link.action>
                <f:alias map="{activateTooltip: '{f:translate(key: \'manager.tooltip.activate\')}',
                    inactivateTooltip: '{f:translate(key: \'manager.tooltip.inactivate\')}',
                    confirm: '{f:if(condition: \'{document.activateRemote}\', then: \'#confirmActivate\', else: \'#confirmInactivate\')}'}">
                    <f:link.action
                            action="{f:if(condition: '{document.activateRemote}', then: 'activate')}{f:if(condition: '{document.inactivateRemote}', then: 'inactivate')}"
                            arguments="{document : document}"
                            class="btn btn-sm btn-outline-secondary {f:if(condition: '{document.activationChangeAllowed} == 0', then: 'disabled')}"
                            additionalAttributes="{data-documenttitle: document.title, data-toggle: 'modal', data-target: confirm}">
                            <i class="fas {f:if(condition: '{document.active}', then: 'fa-check-circle', else: 'fa-ban')}"
                               data-toggle="tooltip"
                               title="{f:if(condition: '{document.activateRemote}', then: '{activateTooltip}', else: '{inactivateTooltip}')}">
                            </i>
                    </f:link.action>
                </f:alias>

                <f:link.action action="discard" arguments="{document : document}" class="btn btn-sm btn-warning"
                               additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDiscard'}">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    {f:translate(key: 'manager.discard')}
                </f:link.action>

                <f:if condition="{document.ingestRemote}">
                    <f:link.action action="release" arguments="{document : document, releaseType : 'publish'}"
                                   class="btn btn-sm {f:if(condition: '{document.valid}', then: 'btn-success', else: 'btn-success disabled')}"
                                   additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmPublish'}">
                        <i class="fas fa-check"></i>
                        {f:translate(key: 'manager.publish')}
                    </f:link.action>
                </f:if>

                <f:if condition="{document.updateRemote}">
                    <f:link.action action="release" arguments="{document : document, releaseType : 'update'}"
                                   class="btn btn-sm {f:if(condition: '{document.valid}', then: 'btn-info', else: 'btn-info disabled')}"
                                   additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmUpdate'}">
                        <i class="fas fa-sync"></i>
                        {f:translate(key: 'manager.update')}
                    </f:link.action>
                </f:if>

                <f:if condition="{document.deleteRemote}">
                    <f:link.action action="delete" arguments="{document : document}" class="btn btn-sm btn-danger"
                                   additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmDelete'}">
                        <i class="fas fa-eraser"></i>
                        {f:translate(key: 'manager.delete')}
                    </f:link.action>
                </f:if>

                <f:if condition="{document.restoreRemote}">
                    <f:link.action action="restore" arguments="{document : document, releaseType : 'restore'}"
                                   class="btn btn-sm btn-primary"
                                   additionalAttributes="{data-documenttitle: document.title,data-toggle: 'modal',data-target: '#confirmRestore'}">
                        <i class="fas fa-undo-alt"></i>
                        {f:translate(key: 'manager.restore')}restore
                    </f:link.action>
                </f:if>

            </td>
        </tr>
    </f:for>
</table>

<div class="modal fade" id="confirmDiscard" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{f:translate(key: 'manager.discardConfirmMessageHeader')}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{f:translate(key: 'manager.discardConfirmNo')}"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{f:translate(key: 'manager.discardConfirmMessage', arguments: {0: '%s'})}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key:
                    'manager.discardConfirmNo')}
                </button>
                <a id="discardDocument" class="btn btn-danger" href="#">{f:translate(key:
                    'manager.discardConfirmYes')}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmUpdate" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{f:translate(key: 'manager.releaseConfirmMessageHeader.update')}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{f:translate(key: 'manager.discardConfirmNo')}"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{f:translate(key: 'manager.releaseConfirmMessage.update', arguments: {0: '%s'})}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key:
                    'manager.releaseConfirmNo')}
                </button>
                <a id="discardDocument" class="btn btn-danger" href="#">{f:translate(key:
                    'manager.releaseConfirmYes')}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmPublish" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{f:translate(key: 'manager.releaseConfirmMessageHeader.publish')}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{f:translate(key: 'manager.discardConfirmNo')}"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{f:translate(key: 'manager.releaseConfirmMessage.publish', arguments: {0: '%s'})}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key:
                    'manager.releaseConfirmNo')}
                </button>
                <a id="discardDocument" class="btn btn-danger" href="#">{f:translate(key:
                    'manager.releaseConfirmYes')}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmActivate" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{f:translate(key: 'manager.activateConfirmMessageHeader')}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{f:translate(key: 'manager.discardConfirmNo')}"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{f:translate(key: 'manager.activateConfirmMessage', arguments: {0: '%s'})}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key:
                    'manager.releaseConfirmNo')}
                </button>
                <a id="discardDocument" class="btn btn-danger" href="#">{f:translate(key:
                    'manager.releaseConfirmYes')}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmInactivate" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{f:translate(key: 'manager.inactivateConfirmMessageHeader')}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{f:translate(key: 'manager.discardConfirmNo')}"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{f:translate(key: 'manager.inactivateConfirmMessage', arguments: {0: '%s'})}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key:
                    'manager.releaseConfirmNo')}
                </button>
                <a id="discardDocument" class="btn btn-danger" href="#">{f:translate(key:
                    'manager.releaseConfirmYes')}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmRestore" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{f:translate(key: 'manager.restoreConfirmMessageHeader')}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{f:translate(key: 'manager.discardConfirmNo')}"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{f:translate(key: 'manager.restoreConfirmMessage', arguments: {0: '%s'})}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key:
                    'manager.releaseConfirmNo')}
                </button>
                <a id="discardDocument" class="btn btn-danger" href="#">{f:translate(key:
                    'manager.releaseConfirmYes')}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{f:translate(key: 'manager.deleteConfirmMessageHeader')}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{f:translate(key: 'manager.discardConfirmNo')}"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{f:translate(key: 'manager.deleteConfirmMessage', arguments: {0: '%s'})}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key:
                    'manager.releaseConfirmNo')}
                </button>
                <a id="discardDocument" class="btn btn-danger" href="#">{f:translate(key:
                    'manager.releaseConfirmYes')}</a>
            </div>
        </div>
    </div>
</div>

