<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace eww=EWW\Dpf\ViewHelpers}

<f:form action="create" name="document" object="{document}" enctype="multipart/form-data">
    <f:form.hidden property="documentType" value="{document.documentType}"/>
    <f:if condition="{document.objectIdentifier}">
        <f:then>
            <f:form.hidden id="objectIdentifier" property="objectIdentifier" value="{document.objectIdentifier}"/>
        </f:then>
        <f:else>
            <f:form.hidden id="objectIdentifier" property="objectIdentifier" value="{document.reservedObjectIdentifier}"/>
        </f:else>
    </f:if>

<f:comment>
    <f:form.hidden id="qucosaUrn" property="qucosaUrn" value="{}"/>

    <eww:document.pages document="{document}">
        <h2>{pageType.displayName}</h2> <br />
        <eww:document.groups pageType="{pageType}" groups="{groups}">
            <h3>{groupType.displayname}</h3> <br />
            <eww:document.fields groupType="{groupType}" group="{group}">
                {fieldType.displayName}
                <f:form.textfield id="inp_{field.uid}"
                                  property="metadata.{groupType.uid}.{groupIndex}.{fieldType.uid}.{fieldIndex}"
                                  value="{field.value}"
                                  class="{}"
                                  additionalAttributes="{}"/>
                <br />
            </eww:document.fields>
        </eww:document.groups>

        <br />
    </eww:document.pages>
</f:comment>
    <f:render partial="Document/FormBodyNew" arguments="{document:document}"/>
</f:form>
<f:form action="cancel" name="cancelData" object="{}" enctype="multipart/form-data">
    <f:form.button name="cancel" id="cancel" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-remove"></span>
        {f:translate(key: 'form_button.cancel')}
    </f:form.button>
</f:form>
