<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace eww=EWW\Dpf\ViewHelpers}
<script type="text/javascript">
    var form_error_msg_group_mandatory = '<f:translate key="form_error_msg.group_mandatory" default="Please fill in the required fields." />';
    var form_error_msg_group_one_required = '<f:translate key="form_error_msg.group_one_required"  default="Please fill out at least one of the fields." />';
    var form_error_msg_field_invalid = '<f:translate key="form_error_msg.field_invalid" default="Invalid input" />';
    var form_error_msg = '<f:translate key="form_error_msg.all" default="The form contains errors."/>';
    var form_success_msg = '<f:translate key="form_success_msg.all" default="Form successfully validated."/>';
</script>

