<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf = EWW\Dpf\ViewHelpers}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom sticky-top pt-3">
    <h1 class="h2">{f:translate(key: 'manager.control.documents')}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <f:link.action action="listRegistered" controller="Document"
                           class="btn btn-sm btn-outline-secondary {dpf:activeManagerMenu(controllerName:'Document', actionNames:{0:'listRegistered'})}">
                {f:translate(key: 'manager.document.localStatus.registered')}
            </f:link.action>
            <f:link.action action="listInProgress" controller="Document"
                           class="btn btn-sm btn-outline-secondary {dpf:activeManagerMenu(controllerName:'Document', actionNames:{0:'listInProgress'})}">
                {f:translate(key: 'manager.document.localStatus.in_progress')}
            </f:link.action>
            <f:link.action action="list" controller="Document"
                           class="btn btn-sm btn-outline-secondary {dpf:activeManagerMenu(controllerName:'Document', actionNames:{0:'list'})}">
                {f:translate(key: 'manager.document.state.all')}
            </f:link.action>
        </div>
    </div>
</div>

<f:flashMessages />

<f:render partial="Document/List" arguments="{documents:documents}"/>
