{namespace be = TYPO3\CMS\Backend\ViewHelpers}
{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace dpf = EWW\Dpf\ViewHelpers}
{namespace v= FluidTYPO3\Vhs\ViewHelpers}


<f:layout name="BackendAdmin" />

<f:section name="header">
    <h1>
        Logs
    </h1>
</f:section>

<f:section name="content">

    <f:form action="list" method="post">
        <div class="row">
            <div class="col-md-4">

        <div class="form-group">
            <label for="client">
                Client
            </label>
            <f:form.select
                name="clientId"
                options="{clients}"
                prependOptionLabel="-"
                prependOptionValue=""
                class="form-control"
                optionValueField="uid"
                optionLabelField="client"
                sortByOptionLabel="true"
                value="{selectedClientId}"
            />
        </div>
            </div>

            <div class="col-md-1">

            <div class="form-group">
            <label for="level">
                Level
            </label>
            <f:form.select
                name="level"
                class="form-control"
                value="{f:if(condition: '{level} > -1' , then: level, else: '-1')}">
                <f:form.select.option value="-1">-</f:form.select.option>
                <f:for each="{logLevels}" as="label" key="value">
                    <f:form.select.option value="{value}">
                        <f:format.case mode="upper">{label}</f:format.case>
                    </f:form.select.option>
                </f:for>
            </f:form.select>

            </div></div>
        </div>
        <div class="row">
            <div class="col-md-4">

        <div class="form-group">
            <label for="requestId">Request ID</label>
            <f:form.textfield name="requestId" value="{requestId}"  class="form-control" />
        </div>
            </div>

            <div class="col-md-4">

            <div class="form-group">
            <label for="component">Component</label>
            <f:form.textfield name="component" value="{component}" class="form-control" />
        </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-2">

            <div class="form-group">
            <label for="fromTime">Von Zeit</label>
            <f:form.textfield
                name="fromTime"
                value="{fromTime}"
                type="datetime-local"
                class="form-control"
                placeholder="YYYY-MM-DD HH:mm"
                id="fromTime"
            />
        </div>
            </div>
            <div class="col-md-2">

            <div class="form-group">
            <label for="toTime">Bis Zeit</label>
            <f:form.textfield
                name="toTime"
                value="{toTime}"
                type="datetime-local"
                class="form-control"
                placeholder="YYYY-MM-DD HH:mm"
            />
        </div>
            </div>

            <div class="col-md-2">

            <div class="form-group">
            <label for="sortField">Sortieren nach:</label>
            <f:form.select name="sortField"
                           id="sortField"
                           class="form-control"
                           value="{sortField}">
                <f:comment>
                    additionalAttributes="{onchange:'this.form.submit()'}"
                </f:comment>
                <f:form.select.option value="timeMicro">Microtime</f:form.select.option>
                <f:form.select.option value="requestId">Request ID</f:form.select.option>
                <f:form.select.option value="component">Component</f:form.select.option>
                <f:form.select.option value="level">Level</f:form.select.option>
                <f:form.select.option value="clientId">Client ID</f:form.select.option>
            </f:form.select>
        </div>
            </div>
            <div class="col-md-2">

            <div class="form-group">
            <label for="sortDirection">Sortierrichtung:</label>
            <f:form.select name="sortDirection"
                           id="sortDirection"
                           class="form-control"
                           value="{sortDirection}">
                <f:comment>
                    additionalAttributes="{onchange:'this.form.submit()'}"
                </f:comment>
                <f:form.select.option value="desc">Absteigend</f:form.select.option>
                <f:form.select.option value="asc">Aufsteigend</f:form.select.option>
            </f:form.select>
        </div>
            </div>
            <div class="col-md-1">

                <div class="form-group">
                    <label for="limit">Limit</label>
                    <f:form.textfield name="limit" value="{limit}" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <f:form.submit value="Filtern" class="btn btn-primary" />
            </div>
        </div>
    </f:form>

    <div class="panel panel-space panel-default recordlist">
        <table id="log-list" class="table table-striped table-manager table-condensed">
            <thead>
            <tr>
                <th class="xcol-md-1">
                    Request ID
                </th>
                <th class="xcol-md-1">
                    Microtime
                </th>
                <th class="xcol-md-1">
                    Component
                </th>
                <th class="xcol-md-1">
                    Level
                </th>
                <th class="xcol-md-1">
                    Client
                </th>
                <th class="xcol-md-1">
                    Message
                </th>
                <th class="xcol-md-1">
                    Data
                </th>
            </tr>
            </thead>
            <f:for each="{logs}" as="logEntry">
            <tr data-id="{document._id}">
                <td>{logEntry.requestId}</td>
                <td>
                    <dpf:format.microtime microtime="{logEntry.timemicro}" />
                    ({logEntry.timemicro})
                </td>
                <td>{logEntry.component}</td>
                <td>
                    <f:format.case mode="upper">{logLevels.{logEntry.level}}</f:format.case>
                </td>
                <td>
                    <f:if condition="{clients.{logEntry.clientId}.client}">
                        <f:then>
                            {clients.{logEntry.clientId}.client}
                        </f:then>
                        <f:else>
                            {logEntry.clientId}
                        </f:else>
                    </f:if>
                </td>
                <td>{logEntry.message}</td>
                <td>
                    <f:if condition="{logEntry.data}">
                        <f:debug inline="true">{logEntry.dataArray}</f:debug>
                    </f:if>
                </td>
            </tr>
            </f:for>
        </table>
    </div>
</f:section>
