<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.
<f:flashMessages />
    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

{namespace dpf=EWW\Dpf\ViewHelpers}

<div id="tx-dpf-backoffice" class="document-manager">

    <div class="tx-dpf" data-language="{dpf:language()}">

        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <span class="navbar-brand col-sm-3 col-md-2 mr-0">
                {f:translate(key: 'manager.client')}: {client.client}
            </span>

            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex pr-4">
                <li class="nav-item px-3">
                    <f:link.action class="nav-link" action="settings" controller="User">
                        <i class="fas fa-user"></i>
                        <f:cObject typoscriptObjectPath="lib.feUsername"></f:cObject>
                    </f:link.action>
                </li>
                <li class="nav-item pr-2">
                    <f:link.action class="nav-link" action="logout" controller="Document">
                        <i class="fas fa-sign-out-alt"></i>
                        Sign out
                    </f:link.action>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <f:link.action action="listWorkspace" controller="Workspace" arguments="{refresh:1}"
                                               class="nav-link workspace-nav-link
                                               {dpf:activeManagerMenu(controllerName:'Workspace', actionNames:{0:'listWorkspace'})}">

                                    <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
                                        <i class="fas fa-file"></i>
                                        {f:translate(key: 'manager.control.documents')}
                                    </f:if>
                                    <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_RESEARCHER\'}')}">
                                        <i class="fas fa-address-book"></i>
                                        {f:translate(key: 'manager.control.myPublications')}
                                    </f:if>

                                </f:link.action>
                            </li>
                            <f:if condition="{dpf:IsElementAllowed(condition:'{0:\'ROLE_LIBRARIAN\'}')}">
                            <li class="nav-item">
                                <f:link.action action="listSuggestions" controller="Document"
                                               class="nav-link workspace-nav-link
                                               {dpf:activeManagerMenu(controllerName:'Document', actionNames:{0:'listSuggestions'})}">
                                    <i class="fas fa-question-circle"></i>
                                    {f:translate(key: 'manager.document.suggestions')}
                                </f:link.action>
                            </li>
                            </f:if>
                            <li class="nav-item">
                                <f:link.action action="search" controller="Search" arguments="{refresh:1}"
                                               class="nav-link workspace-nav-link {dpf:activeManagerMenu(controllerName:'Search')}">
                                    <i class="fas fa-search"></i>
                                    {f:translate(key: 'manager.control.search')}
                                </f:link.action>
                            </li>
                            <li class="nav-item">
                                <f:link.action action="list" controller="DocumentFormBackoffice"
                                               class="nav-link {dpf:activeManagerMenu(controllerName:'DocumentFormBackoffice', actionNames:{0:'list', 1:'new'})}">
                                    <i class="fas fa-plus"></i>
                                    {f:translate(key: 'manager.control.createNewDocument')}
                                </f:link.action>
                            </li>
                            <li class="nav-item">
                                <f:link.action action="find" controller="ExternalMetadataImport"
                                               class="nav-link {dpf:activeManagerMenu(controllerName:'ExternalMetadataImport', actionNames:{0:'find', 1:'import'})}">
                                    <i class="fas fa-plus"></i>
                                    {f:translate(key: 'manager.importMetadata.header.single')}
                                </f:link.action>
                            </li>
                            <li class="nav-item">
                                <f:link.action action="bulkStart" controller="ExternalMetadataImport"
                                               class="nav-link {dpf:activeManagerMenu(controllerName:'ExternalMetadataImport', actionNames:{0:'bulkStart', 1:'bulkResults'})}">
                                    <i class="fas fa-plus"></i>
                                    {f:translate(key: 'manager.bulkImport.header')}
                                </f:link.action>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link {dpf:activeManagerMenu(controllerName:'ExternalMetadataImport', actionNames:{0:'uploadStart'})}">
                                    <i class="fas fa-plus"></i>
                                    {f:translate(key: 'manager.uploadMetadata.header')}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-0 px-4">

                    <f:render section="main"/>

                </main>

            </div>

        </div>

    </div>

</div>








