<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
{namespace dpf=EWW\Dpf\ViewHelpers}
formBody
<f:layout name="Backoffice"/>

<f:section name="main">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom sticky-top pt-3">
        <h1 class="h2">{f:translate(key: 'manager.control.editDocument')}</h1>
        <f:link.action
                id="cancel"
                action="cancelEdit"
                controller="DocumentFormBackoffice"
                class="btn btn-sm btn-outline-secondary"
                arguments="{documentUid:documentForm.documentUid}">
            <i class="fas fa-times"></i>
            {f:translate(key: 'form_button.cancel')}
        </f:link.action>
    </div>

    <f:flashMessages />

    <f:form class="document-form-main" action="update" name="documentData" object="{documentData}" enctype="multipart/form-data"
            additionalAttributes="{data-disabled: \"{f:if(condition: '{dpf:canAccess(subject:\'{documentForm.documentUid}\', attribute:\'DOCUMENT_UPDATE\')} || {suggestMod}', then: '', else: 'disabled')}\"}">
        <f:form.hidden property="type" value="{documentForm.uid}"/>
        <f:form.hidden property="documentUid" value="{documentForm.documentUid}"/>
        <f:form.hidden id="qucosaid" property="qucosaId" value="{documentForm.qucosaId}"/>
        <f:form.hidden id="qucosaUrn" property="qucosaUrn" value="{documentForm.qucosaUrn}"/>
        <f:form.hidden id="validDocument" property="validDocument" value="0"/>
        <f:form.hidden id="suggestMod" property="suggestMod" value="{suggestMod}"/>

        <f:if condition="{suggestMod}">
            <div class="container">
                <div class="row">

                        <f:if condition="{document.remoteState}=='DELETED' OR {document.localState}=='DISCARDED'">
                            <f:then>
                                <div class="col-sm form-group">
                                    <label for="suggestRestore">{f:translate(key: 'documentForm.suggestRestore')}</label>
                                    <f:form.checkbox property="suggestRestore" id="suggestRestore" value="1" class="form-control"/>
                                </div>
                            </f:then>
                        </f:if>
                </div>
                <div class="row">
                    <div class="col-sm form-group">
                        <label for="commentTextarea">Comment</label>
                        <f:form.textarea id="commentTextarea" property="comment" value="{comment}" class="form-control" placeholder="Enter comment"/>
                    </div>
                </div>
            </div>

        </f:if>

        <h5 class="documentform">{f:translate(key: 'documentForm.processNumber')}: {documentForm.processNumber}</h5>

        <f:render partial="DocumentForm/FormBody" arguments="{documentForm:documentForm, edit:1, suggestMod:suggestMod}"/>
    </f:form>

</f:section>
