<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>
<f:layout name="Backoffice"/>

<f:section name="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom sticky-top pt-3">
        <h1 class="h2">{f:translate(key: 'manager.control.createNewDocument')}</h1>
        <f:form action="cancelEdit" name="cancelData" object="{}" enctype="multipart/form-data" noCacheHash="TRUE">
            <f:link.action
                    id="cancel"
                    action="cancelNew"
                    controller="DocumentFormBackoffice"
                    class="btn btn-sm btn-outline-secondary"
                    arguments="{documentUid:returnDocumentId}">
                <i class="fas fa-times"></i>
                {f:translate(key: 'form_button.cancel')}
            </f:link.action>
        </f:form>
    </div>

    <f:flashMessages />
    <f:variable name="backoffice">1</f:variable>

    <f:form action="create" class="document-form-main" id="new-document-form" name="documentData" object="{documentData}" enctype="multipart/form-data" noCacheHash="TRUE">
        <f:form.hidden id="csrfToken" property="csrfToken" value="{documentForm.csrfToken}"/>
        <f:form.hidden property="type" value="{documentForm.uid}"/>
        <f:form.hidden id="reservedFedoraPid" property="reservedFedoraPid" value=""/>
        <f:form.hidden id="fedoraPid" property="fedoraPid" value=""/>
        <f:form.hidden id="primaryUrn" property="primaryUrn" value="{documentForm.primaryUrn}"/>
        <f:render partial="DocumentForm/FormBody" arguments="{_all}"/>
    </f:form>

</f:section>
