<f:layout name="Default">
</f:layout>
This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
    <h1>
        New DocumentType
    </h1>
    <f:flashmessages rendermode="div">
    </f:flashmessages>
    <f:render arguments="{object:DocumentType}" partial="FormErrors">
    </f:render>
    <f:form action="create" name="newDocumentType" object="{newDocumentType}">
        <f:render partial="DocumentType/FormFields">
        </f:render>
        <f:form.submit value="Create new">
        </f:form.submit>
    </f:form>
</f:section>