<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

{namespace dpf = EWW\Dpf\ViewHelpers}

<f:if condition="{dpf:showDocumentType(docType:'{document.documentType.name}')} != '-'">
    <span class="badge badge-pill badge-dark" data-toggle="tooltip" title="{f:translate(key: 'manager.workspace.publicationType.tooltip')}">{dpf:showDocumentType(docType:'{document.documentType.name}')}</span>
</f:if>

<span class="badge badge-pill badge-{dpf:getStatusColor(status:'{document.state}')}" data-toggle="tooltip" title="{f:translate(key: 'manager.workspace.documentState.tooltip')}">{dpf:showStatus(status:'{document.state}')}</span>

<f:if condition="{document.processNumber}">
    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" title="{f:translate(key: 'manager.workspace.processNumber.tooltip')}">{document.processNumber}</span>
</f:if>

<f:if condition="{document.creationDate}">
    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" title="{f:translate(key: 'manager.workspace.creationDate.tooltip')}">
        {f:format.date(format:'d.m.Y', date:'{document.creationDate}')}
    </span>
</f:if>

<ul>
    <f:for each="{documentForm.items}" as="formPage" iteration="pageIterator">
        <f:for each="{formPage.0.items}" as="formGroup" iteration="groupIterator">
            <f:for each="{formGroup}" as="groupItem" iteration="groupItemIterator">
                <f:if condition="{groupItem.emptyGroup} != 1">
                <li class="details-group">
                    <p class="details-group-name">{groupItem.displayName}</p>
                    <f:for each="{groupItem.items}" as="formField" iteration="fieldIterator">
                        <f:for each="{formField}" as="fieldItem" iteration="fieldItemIterator">
                            <f:if condition="{fieldItem.value}">
                                <f:if condition="{fieldItem.inputField} == 200">
                                    <f:render partial="DocumentForm/FileAlerts" arguments="{_all}"/>
                                </f:if>
                                <f:if condition="{fieldItem.displayName}">
                                    <span class="details-field-name">
                                        {fieldItem.displayName}:
                                    </span>
                                </f:if>
                                <f:render partial="ShowDetails/FieldValue" arguments="{_all}" />
                                <br />
                            </f:if>
                        </f:for>
                    </f:for>
                </li>
                </f:if>
            </f:for>
        </f:for>
        </li>
    </f:for>
</ul>
