<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

{namespace dpf = EWW\Dpf\ViewHelpers}

<f:if condition="{fieldItem.inputOptions}">
    <f:then>
        {fieldItem.inputOptions.{fieldItem.value}}
    </f:then>
    <f:else>
        <f:if condition="{fieldItem.inputField} == 3">
            <f:then>
                <f:if condition="{f:translate(key: 'form_value.{fieldItem.value}')}">
                    <f:then>
                        {f:translate(key: 'form_value.{fieldItem.value}')}
                    </f:then>
                    <f:else>
                        {fieldItem.value}
                    </f:else>
                </f:if>
            </f:then>
            <f:else if="{fieldItem.inputField} == 10">
                <div id="markdown_preview_{fieldItemIterator.index}">
                    <f:form.textarea id="inp_{fieldItem.uid}" value="{fieldItem.value}" name="md-preview"/>
                </div>
            </f:else>
            <f:else if="{fieldItem.inputField} == 200">
                <f:link.external uri="{dpf:fileUrl(uri:'{fieldItem.value}', processNumber:'{document.processNumber}')}" target="_blank" class="file_link">
                    <f:if condition="{fieldItem.file.title}">
                        <f:then>{fieldItem.file.title}</f:then>
                        <f:else>{fieldItem.file.fileIdentifier}</f:else>
                    </f:if>
                </f:link.external>
            </f:else>
            <f:else>
                {fieldItem.value}
            </f:else>
        </f:if>
    </f:else>
</f:if>
