<f:comment>
    <!--
    This file is part of the TYPO3 CMS project.

    It is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License, either version 2
    of the License, or any later version.

    For the full copyright and license information, please read the
    LICENSE.txt file that was distributed with this source code.

    The TYPO3 project - inspiring people to share!
    -->
</f:comment>

{namespace eww=EWW\Dpf\ViewHelpers}
<f:link.external uri="{eww:fileUrl(uri:'{file.url}')}" target="_blank" class="file_link">
    <f:if condition="{file.label}">
        <f:then>{file.label}</f:then>
        <f:else>{file.title}</f:else>
    </f:if>
</f:link.external>
