name: ddev-kitodo-publication-typo3-9
type: php
docroot: public
php_version: "7.2"
webserver_type: apache-fpm
router_http_port: "80"
router_https_port: "443"
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
mariadb_version: "10.2"
mysql_version: ""
provider: default
use_dns_when_possible: true
composer_version: ""
no_project_mount: true
hooks:
  post-import-db:
    - exec: "vendor/bin/typo3cms database:updateschema"
    - exec: "vendor/bin/typo3cms cleanup:updatereferenceindex"
  pre-stop:
    - exec: rm fcrepo-home/data/*.lock.db
      service: fcrepo
